<template>
  <section section-points-mobile class="full-size-window">
    <c-header-mobile title="Points" @headerBackEvent="$router.push('/accountMenu')"></c-header-mobile>
    <c-points></c-points>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cPoints from '../../components/c-points/cPoints.vue'

  export default {
    name: "points-mobile",
    components: {
      cHeaderMobile,
      cPoints
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
