<template>
  <section section-points class="full-size-window">
    <points-mobile v-if="isMobileSize"></points-mobile>
    <points-desktop v-else></points-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import PointsMobile from "./Points.mobile.vue"
  import PointsDesktop from "./Points.desktop.vue"

  export default {
    name: "points",
    components: {
      PointsMobile,
      PointsDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
