<template>
  <layout name="LayoutMap">
    <c-points></c-points>
  </layout>
</template>

<script>
  import cPoints from '../../components/c-points/cPoints.vue'

  export default {
    name: "points-desktop",
    components: {
      cPoints
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
