<template>
  <section>
    <div class="search-wrapper">
      <div class="search">
          <div class="search__circle"></div>
          <div class="search__rectangle"></div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "test",
  components: {},
  data() {
    return {
    };
  },
  created() {

  },
  computed: {
    ...mapState({
      pins: state => state.pinModule.pins,
      sketches: state => state.sketchModule.sketches,
    })
  },
  methods: {
    ...mapActions({
      loadAllPins: "pinModule/loadAll",
      loadAllSketches: "sketchModule/loadAll",
    }),
  }
};
</script>

<style scoped>
h1 {
  font-family: 'Dosis', sans-serif;
  padding-bottom: 20px;
  color: #333;
  text-align: center;
  padding-top: 50px;
}
.search-wrapper {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 0 auto;
  background-color: #e6e6e6;
}
.search {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.search__circle {
  width: 100px;
  height: 100px;
  border: 20px solid #333;
  border-radius: 100px;
}
.search__rectangle {
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 70px;
  transform: rotate(45deg);
  border: 12px solid #333;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

</style>

