<template>
  <layout name="LayoutDefault">
    <c-facebook-login> </c-facebook-login>
  </layout>
</template>

<script>
  import cFacebookLogin from '@/components/c-FacebookLogin/cFacebookLogin'

  export default {
    name: "login",
    components: {
      cFacebookLogin
    }
  }
</script>

<style scoped>

</style>
