<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'settings' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/currentProfile">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Settings</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info full-height-window">
        <div class="container full-height-window">
          <div class="row full-height-window">
            <div class="col-md-12 setting-menu">
              <h4 class="fw-bold">Settings</h4>
              <ul class="list-group">
                <!-- <li class="list-group-item" >Change Password</li> -->
                <!-- <li class="list-group-item" >Linked Account</li> -->
                <!-- <li class="list-group-item" >Blocked Account</li> -->
                <li class="list-group-item" >Terms of Use</li>
                <li class="list-group-item" @click="changeRoute('support')">Support</li>
                <li class="list-group-item" @click="changeRoute('about')">About Urban Sketch</li>
                <li class="list-group-item" @click="changeRoute('tutorial/1')">Tutorial</li>
                <!-- <li class="list-group-item" >Delete Account</li> -->
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-settings",
    data() {
      return {
      };
    },
    mounted() {
      this.onRefresh();
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'settings'});
      }, 100);
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        userId: state => state.authModule.id,
      }),
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
      }),

      onRefresh() {
      },

      changeRoute(name) {
        window.location = `#/${name}`;
        // if (this.isMobileSize) {
        //   window.location = `#/${name}`;
        // } else {
        //   this.setLeftSliderName({name: name})
        // }
      }
    }
  };
</script>

<style scoped>
  .header-title {
    padding-bottom: 2rem;
  }

  .header-title-left {
    float: left;
  }

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 40px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
  }

  .notification-item {
    padding-bottom: 1rem;
  }

  .notification-item-img {
    margin-right: .5rem;
    width: 50px;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: .5rem 0.5rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
    font-weight: 700;
  }

  .setting-menu {
    color: #464646;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 2rem 0 0 2.5rem;
    background-color: #FFFFFF;
    background-image: url('/static/images/watercolor-background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .setting-menu li {
    cursor: pointer;
  }

  .list-group {
    padding-bottom: 3rem;
  }

  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .info {
      overflow-y: scroll
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 125px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
