<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'updateCurrentProfile' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/currentProfile">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Update My Profile</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info">
        <div class="container avatar">
          <div class="row">
            <div class="col-sm-12 div-avatar">
              <img alt="" :src="imageUrl">
            </div>
            <!-- <div class="col-sm-12 div-profile-photo">
              <a>Change Profile Photo</a>
            </div> -->
            <!-- <div class="col-sm-12 div-profile-cover">
              <a>Change Cover Photo</a>
            </div> -->
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 mt-3">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" placeholder="username" :value="email" disabled>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" placeholder="name" :value="name" ref="name">
              </div>
              <div class="form-group">
                <label for="website">Website</label>
                <input type="text" name="website" class="form-control" placeholder="www.yoursite.com" :value="website" ref="website">
              </div>
              <div class="form-group">
                <label for="insta">Instagram handle</label>
                <input type="text" name="insta_handle" class="form-control" placeholder="instagram handle" :value="insta_handle" ref="insta_handle">
              </div>
              <div class="form-group">
                <label for="bio">Bio</label>
                <input type="text" name="bio" class="form-control" placeholder="tell us a little about yourself" :value="bio" ref="bio">
              </div>

            </div>
          </div>
          <div class="row mb-4 mt-4">
            <div class="col-sm-12">
              <a class="btn btn-primary btn-block btn-upload" @click="updateCurrentUser">SAVE CHANGE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-update-current-profile",
    data() {
      return {
        backgroundHeader: '/static/images/cover-photo.png',
        userUpdate: {
          name: '',
          website: '',
          bio: ''
        }
      };
    },
    mounted() {},
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'updateCurrentProfile'});
      }, 100);
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        // -- //
        userId: state => state.authModule.id,
        email: state => state.authModule.email,
        name: state => state.authModule.name,
        website: state => state.authModule.website,
        insta_handle: state => state.authModule.insta_handle,
        bio: state => state.authModule.bio,
        imageUrl: state => state.authModule.imageUrl,
        fbAuthToken: state => state.authModule.fbAuthToken,
        tutorialSeen: state => state.authModule.tutorialSeen,
      })
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
        updateCurrentUserAction: "authModule/updateCurrentUser",
        getCurrentUser: "authModule/getCurrentUser",
      }),

      updateCurrentUser() {
        // console.log(this.$refs.name.value)
        this.updateCurrentUserAction({
            currentUser: {
              id: this.userId,
              name: this.$refs.name.value,
              email: this.email,
              website: this.$refs.website.value,
              insta_handle: this.$refs.insta_handle.value,
              bio: this.$refs.bio.value,
              imageUrl: this.imageUrl,
              fbAuthToken: this.fbAuthToken,
              tutorialSeen: 1,
            }
          })
          .then(result => {
            this.getCurrentUser();
            this.$Notification.notifyTemplateV1({
                text: 'User Profile Updated',
                data: {
                    icon: 'fas fa-user',
                    clickIcon: () => {},
                    clickName: '',
                    href: '#',
                    click: () => {}
                }
            });
          })
          .catch(errors => {
            this.$Notification.error("Update current user", errors.message || errors);
          });
      }
    }
  };
</script>

<style scoped>
  .section-account-menu {
    position: fixed;
    bottom: 0;
    height: 270px;
    width: 200px;
    left: 600px;
    display: none;
  }

  .section-account-menu.active {
    display: block
  }

  .div-edit-profile {
    padding-top: 90px;
  }

  .btn-edit-profile {
    color: #464646;
    font-size: 15px;
  }

  .div-account {
    padding-top: 90px;
  }

  .btn-account {
    color: #464646;
    font-size: 15px;
  }

  .sidebar-wrapper .card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.52), 0px 0px 0px 0px rgba(0, 0, 0, 0.65);
  }

  .sidebar-wrapper .card.hovercard .info .title {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1;
    color: #487629;
    vertical-align: middle;
    padding-top: 15px;
    text-align: center;
  }

  .sidebar-wrapper .card.hovercard .avatar {
    position: relative;
    top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .sidebar-wrapper .sidebar-wrapper-header2 {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #464646;
  }

  .sidebar-wrapper .sidebar-wrapper-header2-title {
    float: left;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 70%;
    text-align: center;
  }

  .sidebar-wrapper .card.hovercard {
    position: relative;
    overflow: hidden;
    text-align: unset;
    background: #FFF;
    border: none;
    height: 100%;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0 2rem;
  }

  .gallery img {
    width: 100%;
  }

  .btn-upload {
    line-height: 2;
    font-family: Montserrat-Bold;
    border-radius: 0;
    background-color: #FFDD00;
    font-weight: bold;
    border: none;
    color: #505050;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .sidebar-wrapper .card.hovercard .cardheader {
    height: 250px;
    background-image: url('/static/images/cover-photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .btn-delete-sketch {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
  }

  .gallery-item-img {
    min-height: 70px;
  }

  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #464646;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    color: #000000;
  }

  .form-group label {
    font-size: 1rem;
    color: #487629;
    margin-bottom: 0;
  }

  .div-profile-photo {
    color: #487629;
    margin-top: 1rem;
    font-weight: 900;
  }

  .div-profile-cover {
    color: #487629;
    font-weight: 900;
  }

  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .info {
      overflow-y: scroll
    }
    .sidebar-wrapper .card.hovercard .cardheader {
      height: 170px;
    }
    .div-edit-profile {
      width: 35%;
      padding-top: 60px;
      padding-right: 5px;
    }
    .div-account {
      width: 35%;
      padding-top: 60px;
      padding-left: 5px;
    }
    .div-avatar {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
    }
    .sidebar-wrapper .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
    }
    .btn-edit-profile {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .btn-account {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .sidebar-wrapper .card.hovercard .info .title {
      font-size: 0.75rem;
    }
    .profile-name,
    .profile-desc,
    .profile-socicon {
      font-size: 0.75rem;
    }
    .gallery-item {
      width: 50%;
    }
    .btn-delete-sketch i {
      font-size: 1em;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 135px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
