<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'currentProfile' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">My Profile</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info">
        <div class="cardheader" :style="`background-image: url(${backgroundHeader});`">
        </div>
        <div class="container avatar">
          <div class="row">
            <div class="col-sm-4 t-right div-edit-profile">
              <a class="btn-edit-profile" @click="goToUpdateProfile">
                <i class="fas fa-pen"></i> Edit Profile
              </a>
            </div>
            <div class="col-sm-4 div-avatar">
              <img alt="" :src="imageUrl">
            </div>
            <div class="col-sm-4 t-left div-account">
              <a class="btn-account" @click="goToAccountMenu">
                <i class="fas fa-ellipsis-v"></i> Account
              </a>
            </div>
          </div>
        </div>
        <div class="title">
          <!-- <span>12.000 artpoints |</span> -->
          <span>{{followerCount}} feeders |</span>
          <span>{{followingCount}} feeding</span>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="profile-name tc-green">{{name}}</h5>
              <!-- <p class="profile-desc">
                I enjoy painting mostly, and I'm also a big fan of cubes
                <br/>
                <span class="tc-green">Discipline</span> | cubism, painting
              </p> -->
            </div>
            <!-- <div class="profile-socicon col-sm-12">
              <p class="tc-blue">www.mywebsite.com</p>
              <i class="socicon socicon-facebook mr-2"></i>
              <i class="socicon socicon-twitter mr-2"></i>
              <i class="socicon socicon-instagram"></i>
            </div> -->
          </div>
          <div class="row pt-3">
            <div class="col-sm-8 offset-sm-2">
              <a href="#/upload" class="btn btn-primary btn-block btn-upload">UPLOAD YOUR ART</a>
            </div>
          </div>
        </div>
        <div class="container gallery mt-5">
          <div class="row t-left mb-1">
            <div class="col-md-12">
              <h5>Gallery</h5>
            </div>
          </div>

          <div class="row">
            <div class="gallery-item col-sm-6 pb-3" v-for="(item, index) in sketches" :key="index">
              <a class="btn-delete-sketch" @click="showModalDeleteSketch(item)">
                <i class="fas fa-times fa-2x tc-green"></i>
              </a>

              <a class="gallery-item-link" :href="`#/upload/${item.id}`">
                <img class="gallery-item-img rounded float-left img-thumbnail" :src="item.url">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-account-menu" :class="isActiveMenuAccount? 'active' : ''">
      <c-account-menu></c-account-menu>
    </div>

    <b-modal ref="modalDeleteSketchRef">
      <div class="d-block text-center">
        <img class="img-confirm" src="../../../static/images/confirm-icon.svg">
        <h6>Are you sure delete this sketch?</h6>
      </div>
      <div slot="modal-footer">
        <b-btn size="md" class="btn-cancel" @click="$refs.modalDeleteSketchRef.hide()">
          Cancel
        </b-btn>
        <b-btn size="md" class="btn-yes" @click="deleteSketch">
          Yes
        </b-btn>
      </div>
    </b-modal>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import cAccountMenu from "../c-account-menu/cAccountMenu.vue"

  export default {
    name: "c-current-profile",
    components: {
      cAccountMenu
    },
    data() {
      return {
        isActiveMenuAccount: false,
        backgroundHeader: '/static/images/cover-photo.png',
        sketchIdDeleteSelected: ''
      };
    },
    mounted() {},
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'currentProfile'});
      }, 100);
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        name: state => state.authModule.name,
        imageUrl: state => state.authModule.imageUrl,
        sketches: state => state.authModule.sketches,
        followerCount: state => state.authModule.followerCount,
        followingCount: state => state.authModule.followingCount
      })
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
        deleteCurrentUser: "authModule/deleteCurrentUser",
        deleteSketchAction: "sketchModule/deleteSketch",
        getCurrentUser: "authModule/getCurrentUser"
      }),

      showModalDeleteSketch(data) {
        this.sketchIdDeleteSelected = data.id;
        this.$refs.modalDeleteSketchRef.show();
      },

      deleteSketch() {
        this.deleteSketchAction({
            sketchId: this.sketchIdDeleteSelected
          })
          .then(data => {
            this.getCurrentUser();
            this.$Notification.notifyTemplateV1({
                text: 'You Deleted a Sketch',
                data: {
                    icon: 'fas fa-trash',
                    clickIcon: () => {},
                    clickName: '',
                    href: '#',
                    click: () => {}
                }
            });
            this.$refs.modalDeleteSketchRef.hide();
          })
          .catch(error => {
            this.$Notification.error("Delete sketch", error.message || error);
            this.$Notification.warn('Delete sketch', 'Please try again');
            this.$refs.modalDeleteSketchRef.hide();
          });
      },

      goToUpdateProfile() {
        window.location = "#/updateCurrentProfile";
      },
      goToAccountMenu() {
        if (this.isMobileSize) {
          window.location = "#/accountMenu";
        } else {
          this.isActiveMenuAccount = !this.isActiveMenuAccount;
        }
      },
      closeSlideLeft() {
        window.location = "#/";
      }
    },
    watch: {
      sketches: function(newVal, oldVal) {
        if (newVal && newVal.length) {
          this.backgroundHeader = newVal[0].url;
        }
      }
    }
  };
</script>

<style scoped>
  .section-account-menu {
    position: fixed;
    bottom: 0;
    height: 270px;
    width: 200px;
    left: 600px;
    display: none;
  }

  .section-account-menu.active {
    display: block
  }

  .div-edit-profile {
    padding-top: 90px;
  }

  .btn-edit-profile {
    color: #464646;
    font-size: 15px;
  }

  .div-account {
    padding-top: 90px;
  }

  .btn-account {
    color: #464646;
    font-size: 15px;
  }

  .sidebar-wrapper .card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.52), 0px 0px 0px 0px rgba(0, 0, 0, 0.65);
  }

  .sidebar-wrapper .card.hovercard .info .title {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1;
    color: #487629;
    vertical-align: middle;
    padding-top: 15px;
    text-align: center;
  }

  .sidebar-wrapper .card.hovercard .avatar {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
    text-align: center;
  }

  .sidebar-wrapper .sidebar-wrapper-header2 {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .sidebar-wrapper .sidebar-wrapper-header2-title {
    float: left;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 70%;
    text-align: center;
  }

  .sidebar-wrapper .card.hovercard {
    position: relative;
    overflow: hidden;
    text-align: unset;
    background: #FFF;
    border: none;
    height: 100%;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0;
  }

  .gallery img {
    width: 100%;
  }

  .btn-upload {
    font-family: Montserrat-Bold;
    border-radius: 0;
    background-color: #FFDD00;
    font-weight: bold;
    border: none;
    color: #505050;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .sidebar-wrapper .card.hovercard .cardheader {
    height: 250px;
    background-image: url('/static/images/cover-photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .btn-delete-sketch {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
  }

  .gallery-item-img {
    min-height: 70px;
  }

  .btn-cancel {
    background-color: #FFF;
    color: #487629;
    border: none;
  }

  .btn-yes {
    background-color: #FFF;
    color: #487629;
    border: none;
  }

  .img-confirm {
    width: 50px;
    margin-bottom: 15px;
  }

  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }

    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }

    .info {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .sidebar-wrapper .card.hovercard .cardheader {
      height: 170px;
    }

    .div-edit-profile {
      width: 35%;
      padding-top: 60px;
      padding-right: 5px;
    }

    .div-account{
      width: 35%;
      padding-top: 60px;
      padding-left: 5px;
    }

    .div-avatar {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
    }

    .sidebar-wrapper .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
    }

    .sidebar-wrapper .card.hovercard .avatar {
      top: -50px;
      margin-bottom: -50px;
    }

    .btn-edit-profile {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }

    .btn-account{
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }

    .sidebar-wrapper .card.hovercard .info .title {
      font-size: 0.75rem;
    }

    .profile-name,
    .profile-desc,
    .profile-socicon {
      font-size: 0.75rem;
    }

    .gallery-item {
      width: 50%;
    }

    .btn-delete-sketch i {
      font-size: 1em;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 135px);
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }

    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
