<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'support' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/settings">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Support</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info full-height-window">
        <div class="container full-height-window">
          <div class="row full-height-window">
            <div class="col-md-12 div-support">
              <section>
                <h4 class="support-title">Need Help?</h4>
              </section>
              <section class="support-section">
                <h6 class="support-title tc-green">3 Options for Support</h6>
                <span class="dis-block">1. Call our toll-free number</span>
                <span class="dis-block fw-bold">+1-647-865-3011</span>
              </section>
              <section class="support-section">
                <span class="dis-block">2. Email us to open a ticket</span>
                <span class="dis-block fw-bold">{{mailSupport}}</span>
                <div class="row pt-3">
                  <div class="col-sm-12">
                    <a class="float-r btn btn-md btn-primary btn-block btn-email-support" :href="`mailto:${mailSupport}`">EMAIL SUPPORT</a>
                  </div>
                </div>
              </section>
              <section class="support-section">
                <span class="dis-block">3. Livechat with an agent</span>
                In order to live chat with an agent go to the urbansketch website to use the chat widget.
                <a :href="`https://urbansketch.org`">urbansketch.org</a>
                <!-- <div class="row pt-3">
                  <div class="col-sm-12">
                    <button type="button" :href="`urbansketch.org`" class="float-r btn btn-md btn-primary btn-block btn-email-support">GO TO SUPPORT WEBSITE</button>
                  </div>
                </div> -->
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-support",
    data() {
      return {
      };
    },
    mounted() {
      this.onRefresh();
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'support'});
      }, 100);
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        userId: state => state.authModule.id,
        mailSupport: state => state.mailSupport
      }),
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
      }),

      onRefresh() {
      },
    }
  };
</script>

<style scoped>
  .header-title {
    padding-bottom: 2rem;
  }

  .header-title-left {
    float: left;
  }

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 40px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0;
  }

  .div-support {
    color: #464646;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 2rem;
    background-color: #FFFFFF;
    background-image: url('/static/images/watercolor-background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .btn-email-support {
    padding: .6rem;
    font-family: Montserrat-Bold, sans-serif;
    width: 100%;
    border-radius: 0;
    background-color: #FFDD00;
    border: none;
    color: #505050;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }
  .support-title {
    font-weight: bold;
  }
  .support-section {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .info {
      overflow-y: scroll
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 125px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
