<template>
  <section c-search>
    <nav id="section-search-mobile" v-if="isMobileSize">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <div class="input-group section-header">
              <div class="input-group-append">
                <a class="input-group-text" href="#/">
                  <i class="fas fa-caret-left fa-2x tc-green"></i>
                </a>
              </div>
              <input type="text" class="form-control" placeholder="Enter your search" v-model="searchText">
              <div class="input-group-append">
                <a class="input-group-text" @click="clickCloseMobile">
                  <i class="fas fa-times tc-green"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <section class="div-no-result" v-if="searchResults.length == 0">
              There are no search results
            </section>
            <section class="div-have-result" v-else>
              <h6 class="tc-green">Results</h6>
              <ul class="list-group">
                <li class="list-group-item cs-pointer" v-for="(tag, index) in searchResults" :key="index">
                  <div v-if="tag.type === 'user'" @click="goToProfile(tag)">
                    <i :class="'icon fas icon-' + tag.type"></i>
                    <span>{{tag.name}}</span>
                    <div class="float-r">
                      <span>View profile</span>
                      <span class="tc-green fw-bold ml-3">
                          <i class="fas fa-plus"></i>
                        </span>
                    </div>
                  </div>
                  <div v-else-if="tag.type === 'tag'" @click="addTag(tag)">
                    <i :class="'icon fas icon-' + tag.type"></i>
                    <span>{{tag.name}}</span>
                    <div class="float-r">
                      <span>View tags</span>
                      <span class="tc-green fw-bold ml-3">
                          <i class="fas fa-plus"></i>
                        </span>
                    </div>
                  </div>
                  <div v-else-if="tag.type === 'sketch'" @click="goToSidePanel(tag)">
                    <i :class="'icon fas icon-' + tag.type" ></i>
                    <span>{{tag.name}}</span>
                    <div class="float-r">
                      <span>Go to pin</span>
                      <span class="tc-green fw-bold ml-3">
                          <i class="fas fa-times"></i>
                        </span>
                    </div>
                  </div>
                  <div v-else-if="tag.type === 'map'" @click="goToMapFly(tag)">
                    <i :class="'icon fas icon-' + tag.type" ></i>
                    <span class="name">{{tag.name}}</span>
                    <div class="float-r">
                      <span>Fly to map</span>
                      <span class="tc-green fw-bold ml-3">
                          <i class="fas fa-times"></i>
                        </span>
                    </div>
                  </div>
                  <div v-else>
                    <span>{{tag.name}}</span>
                  </div>
                </li>
              </ul>
            </section>

          </div>
        </div>

        <div class="section-footer">
          <div class="row section-tags">
            <div class="col-sm-6" v-for="(tag, index) in tags" :key="index">
              <b-button class="tag-item">
                <i :class="'icon fas icon-' + tag.type"></i>
                {{ tag.name }}
                <b-badge class="tag-item-close" @click="removeTag(tag)">
                  <i class="fas fa-times tc-green fs-sm"></i>
                </b-badge>
              </b-button>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col">
              <!-- <b-button class="bg-blue btn-follow">
                FOLLOW TAGS
                <i class="fas fa-eye ml-3"></i>
              </b-button> -->
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav id="section-search-desktop" :class="'bg-yellow ' + (isShowTag ? 'full-width' : '')" v-else>
      <div class="search-container p-t-18 p-r-25 p-l-25">
        <v-select label="id" :filterable="false" :options="searchResults" @search="onSearch" placeholder="Enter your search">
          <template slot="no-options">
                <span class="fw-bold fs-3x">No results</span>
</template>

<template slot="option" slot-scope="option">
  <div class="search-select full-width" v-if="option.type === 'user'" @click="goToProfile(option)">
    <i :class="'icon fas icon-' + option.type"></i> {{ option.name }}
    <div class="goto">
      <span>View profile</span>
    </div>
  </div>
  <div class="search-select full-width" v-else-if="option.type === 'tag'" @click="addTag(option)">
    <i :class="'icon fas icon-' + option.type"></i> {{ option.name }}
    <div class="goto">
      <span class="pr-1">View tags +</span>
    </div>
  </div>
  <div class="search-select full-width" v-else-if="option.type === 'sketch'"  @click="goToSidePanel(option)">
    <i :class="'icon fas icon-' + option.type"></i> {{ option.name }}
    <div class="goto">
      <span>Go to pin</span>
    </div>
  </div>
  <div class="search-select full-width" v-else-if="option.type === 'map'"  @click="goToMapFly(option)">
    <i :class="'icon fas icon-' + option.type"></i>
    <span class="name">{{ option.name }}</span>
    <div class="goto">
      <span>Fly to map</span>
    </div>
  </div>
  <div class="search-select full-width" v-else>
    <i :class="'icon fas icon-' + option.type"></i> {{ option.name }}
    <div class="goto">
      <span>Go</span>
    </div>
  </div>
</template>

<template slot="selected-option" slot-scope="option">
  <div class="search-select selected">
    <i :class="'fas ' + option.type"></i>
    <span class="name">{{ option.name }}</span>
  </div>
</template>
        </v-select>
      </div>

      <div class="tags-container p-t-15 p-r-15 p-l-15" :style="isShowTag ? 'display: block' : ''">
        <div class="tags-container-badges">
          <b-button class="m-r-10 tag-item" v-for="(tag, index) in tags" :key="index">
            <i :class="'icon fas icon-' + tag.type"></i>
            {{ tag.name }}
            <b-badge class="tag-item-close" @click="removeTag(tag)">
              <i class="fas fa-times"></i>
            </b-badge>
          </b-button>
        </div>
        <a @click="isShowTag = false" class="btn-close-header">
          <i class="fas fa-minus"></i>
        </a>
        <!-- <div class="tags-container-button">
          <b-button class="bg-blue">
            ADD TAGS TO FEED
            <i class="fas fa-eye"></i>
          </b-button>
        </div> -->

      </div>
      <div @click="goToWebsite()" class="logo-container">
        <div class="logo"></div>
        <span class="logo-text">URBAN SKETCH</span>
      </div>
    </nav>
  </section>

</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import _ from "lodash";

  export default {
    name: "c-search",
    data() {
      return {
        isShowTag: false,
        searchResults: [],
        elIndicator: null,
        searchText: ''
      };
    },
    mounted() {
      this.elIndicator = document.querySelector('#section-search-desktop .open-indicator');

      if (this.elIndicator) {
        this.elIndicator.addEventListener("click", () => {
          if (!this.isShowTag && this.tags.length) {
            this.isShowTag = true;
          }
        });
      }
    },
    created() {},
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        tags: state => state.searchPageTags,
        classMarkerDefault: state => state.classMarkerDefault,
        classMarkerNormal: state => state.classMarkerNormal,
        classMarkerSelected: state => state.classMarkerSelected,
        classMarkerCurrent: state => state.classMarkerCurrent,
        elPinSelected: state => state.pinModule.elPinSelected,
        homeMap: state => state.homeMap,
      })
    },
    methods: {
      ...mapActions({
        searchAction: "searchModule/search",
        setLeftSliderName: "setLeftSliderName",
        getUserInfo: "userModule/getUserInfo",
        setLeftSliderName: "setLeftSliderName",
        setPinSelected: "pinModule/setPinSelected",
        loadAllPins: "pinModule/loadAll",
        setPins: "pinModule/setPins",
        clearHomeMarkers: "clearHomeMarkers",
        setSearchPageTags: "setSearchPageTags",
        triggerClickMarkerByName: "triggerClickMarkerByName",
        goToWebsite: 'goToWebsite',
        mapFlyTo: 'mapFlyTo'
      }),

      goToWebsite() {
        window.location = 'https://urbansketch.org';
      },

      addTag(tag) {
        var isCheckExist = _.some(this.tags, ["id", tag.id]);
        if (isCheckExist) {
          this.isShowTag = true;
          return;
        }

        this.tags.push(tag);
        this.setSearchPageTags({
          tag: this.tags
        });
        this.isShowTag = true;
      },

      removeTag(tag) {
        this.tags.splice(this.tags.findIndex(i => i.id == tag.id), 1);
        this.setSearchPageTags({
          tag: this.tags
        });
        if (this.tags.length === 0) {
          this.isShowTag = false;
        }
      },

      onSearch(search, loading) {
        if (search.length <= 3) {
          return;
        }
        this.searchResults = [];
        loading(true);
        this.search(loading, search, this);
      },

      search: _.debounce((loading, search, vm) => {
        vm.searchAction({
          query: search
        }).then(searchResults => {
          vm.searchResults = searchResults;
          loading(false);
        });
      }, 350),

      goToProfile(data) {
        window.location = `#/profile/${data.id}`;
        // if (this.isMobileSize) {
        //   window.location = `#/profile/${data.id}`;
        // } else {
        //   this.getUserInfo({
        //     userId: data.id
        //   }).then(() => {
        //     this.setLeftSliderName({
        //       name: 'profile'
        //     });
        //   });
        // }
      },

      goToSidePanel(data) {
        window.location = `#/sidePanel/${data.id}`;
      },

      goToMapFly(data) {
        if (this.isMobileSize) {
          window.location = `#/?lng=${data.metadata.center[0]}&lat=${data.metadata.center[1]}`;
        } else {
          this.mapFlyTo({
            map: this.homeMap,
            location: data.metadata.center
          })
        }

      },

      queryPin() {
        this.clearHomeMarkers();
        var queyTags = '';
        for (let index = 0; index < this.tags.length; index++) {
          if (index !== 0) {
            queyTags += ',';
          }

          const element = this.tags[index];
          queyTags += element.name;
        }

        return new Promise((resolve, reject) => {
          this.loadAllPins({
              query: {
                tags: queyTags
              }
            })
            .then(data => {
              this.setPins({
                pins: data
              });
            })
            .catch(error => {
              this.$Notification.error('Query pin', error.message || error);
            });
        })
      },

      clickCloseMobile() {
        if (this.searchText === '') {
          window.location = `#/`;
        } else {
          this.searchText = '';
        }
      },

    },

    watch: {
      isShowTag: function(newVal, oldVal) {
        if (this.isMobileSize) return;

        if (!newVal && this.tags.length) {
          this.elIndicator.setAttribute('length-tags', this.tags.length);
          this.elIndicator.className = 'open-indicator active';
        } else {
          this.elIndicator.className = 'open-indicator';
        }
      },

      tags: function(newVal, oldVal) {
        if (this.isMobileSize) return;

        this.queryPin();
      },

      searchText: function(newVal, oldVal) {
        this.onSearch(newVal, () => {});
      },


    }
  };
</script>

<style scoped>
  #section-search-desktop {
    position: fixed;
    z-index: 10;
    width: 600px;
    height: 75px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .full-width {
    width: 100% !important;
  }

  .search-container {
    height: 100%;
    width: 400px;
    float: left;
  }

  .logo-container {
    height: 100%;
    width: 200px;
    background: #ffffff;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }

  .logo-container .logo {
    height: 70%;
    width: 30%;
    float: left;
    background-image: url("../../../static/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .logo-container .logo-text {
    width: 70%;
    float: right;
    font-size: 14px;
  }

  .tags-container {
    height: 100%;
    width: -webkit-calc(100% - 610px);
    width: -moz-calc(100% - 600px);
    width: calc(100% - 600px);
    float: left;
    display: none;
  }

  .tag-item {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
    padding: 0px 5px;
    border-radius: 0;
  }

  .tag-item-close {
    background-color: #ffffff;
    color: #179400;
  }

  .tags-container-badges {
    float: left;
  }

  .tags-container-button {
    float: right;
  }

  .btn-close-header {
    float: right;
    margin-top: -14px;
    margin-left: 19px;
    color: #487629 !important;
  }

  .tags-container-button button {
    border-radius: 0;
    background-color: #000dab;
    border: none;
    font-size: 13px;
    font-weight: bold;
    padding: 9px 15px;
  }

  #section-search-mobile {
    margin: 2rem 1rem;
  }

  #section-search-mobile .section-footer {
    bottom: 3rem;
    position: absolute;
    width: 80%;
  }

  #section-search-mobile .btn,
  #section-search-mobile .input-group-text,
  #section-search-mobile .form-control {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  #section-search-mobile .form-control:focus {
    box-shadow: none;
  }

  #section-search-mobile .section-header {
    border: 1px solid;
    border-width: 0 0 1px 0;
  }

  #section-search-mobile .list-group-item {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: .25rem .5rem;
    font-size: 0.75rem;
  }

  #section-search-mobile .btn-follow {
    width: 70%;
    padding: 0.75rem;
    font-weight: bold;
  }

  #section-search-mobile .tag-item {
    border: 1px solid;
    padding: 0.2rem 0.5rem;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    text-align: left;
    margin-top: 5px;
  }

  #section-search-mobile .tag-item-close {
    background-color: #ffffff;
    float: right;
  }

  #section-search-mobile .div-no-result {
    text-align: center;
    margin-top: 5rem;
    font-size: 1rem;
    color: #ACACAC;
    font-weight: bold;
  }

  #section-search-mobile .list-group-item .name {
    max-width: 180px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 575.98px) {
    .col-sm-6 {
      width: 50%;
    }
  }
</style>
