<template>
  <layout name="LayoutMap">
    <c-edit-feed></c-edit-feed>
  </layout>
</template>

<script>
  import cEditFeed from '../../components/c-edit-feed/cEditFeed.vue'

  export default {
    name: "account-menu-desktop",
    components: {
      cEditFeed
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
