<template>
  <section section-edit-feed-mobile class="full-size-window">
    <c-header-mobile title="FEED" @headerBackEvent="$router.go(-1)"></c-header-mobile>
    <c-edit-feed></c-edit-feed>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cEditFeed from '../../components/c-edit-feed/cEditFeed.vue'

  export default {
    name: "edit-feed-mobile",
    components: {
      cHeaderMobile,
      cEditFeed
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
