<template>
  <section section-edit-current-feed class="full-size-window">
    <edit-current-feed-mobile v-if="isMobileSize"></edit-current-feed-mobile>
    <edit-current-feed-desktop v-else></edit-current-feed-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import EditCurrentFeedMobile from "./EditCurrentFeed.mobile.vue"
  import EditCurrentFeedDesktop from "./EditCurrentFeed.desktop.vue"

  export default {
    name: "edit-current-feed",
    components: {
      EditCurrentFeedMobile,
      EditCurrentFeedDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
