<template>
  <section section-support class="full-size-window">
    <support-mobile v-if="isMobileSize"></support-mobile>
    <support-desktop v-else></support-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import SupportMobile from "./Support.mobile.vue"
  import SupportDesktop from "./Support.desktop.vue"

  export default {
    name: "support",
    components: {
      SupportMobile,
      SupportDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
