<template>
  <section section-support-mobile class="full-size-window">
    <c-header-mobile title="Support" @headerBackEvent="$router.push('/settings')"></c-header-mobile>
    <c-support></c-support>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cSupport from '../../components/c-support/cSupport.vue'

  export default {
    name: "support-mobile",
    components: {
      cHeaderMobile,
      cSupport
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>
</style>
