<template>
  <layout name="LayoutMap">
    <c-support></c-support>
  </layout>
</template>

<script>
  import cSupport from '../../components/c-support/cSupport.vue'

  export default {
    name: "support-desktop",
    components: {
      cSupport
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
