<template>
  <section>
    header desktop
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-header-desktop",
    data() {
      return {
      };
    },
    mounted() {
    },
    created() {},
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>
</style>
