<template>
  <!-- USE
  <c-header-mobile title="URBAN SKETCH" titleSmall="titleSmall" @headerBackEvent="headerBackEvent"></c-header-mobile>
  OR
  <c-header-mobile title="URBAN SKETCH" titleSmall="titleSmall" @headerBackEvent="$router.go(-1)"></c-header-mobile>
  OR
  <c-header-mobile title="URBAN SKETCH" titleSmall="titleSmall" @headerBackEvent="$router.push('/')"></c-header-mobile>
   -->
  <nav id="section-search-mobile" class="navbar navbar-expand-md fixed-top">
    <a class="width-10 div-back" @click="onBack">
      <i class="fas fa-caret-left fa-2x" v-if="hideBack !== 'false'"></i>
    </a>
    <div class="width-80 t-center header-title">
      <span class="fs-sm fw-bold">{{title}}</span>
      <br/>
      <span class="fs-xs">{{titleSmall}}</span>
    </div>
    <a class="width-10 div-search" href="#/search">
      <i class="fas fa-search"></i>
      <span class="noti-search" v-if="tags.length">{{tags.length}}</span>
    </a>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-header-mobile",
    props: ["title", "titleSmall", "hideBack"],
    data() {
      return {
      };
    },
    mounted() {
    },
    created() {},
    computed: {
      ...mapState({
        tags: state => state.searchPageTags
      })
    },
    methods: {
      onBack() {
        this.$emit("headerBackEvent");
      }
    }
  };
</script>

<style scoped>
  #section-search-mobile {
    background-color: #FFDD00;
    color: #000000;
    height: 60px;
  }

  #section-search-mobile .div-back {
    padding: 0 0 0 5px;
    text-align: left;
  }

  #section-search-mobile .div-search {
    padding: 0 5px 0 0;
    text-align: right;
  }

  #section-search-mobile a {
    color: #000000;
  }

  #section-search-mobile button {
    color: #000000;
  }

  #section-search-mobile .header-title {
    font-size: 15px;
    font-weight: bold;
    padding: 0.75rem 0;
  }
  #section-search-mobile .noti-search {
    position: absolute;
    top: 12px;
    right: 10px;
    background-color: #ff0000;
    height: 15px;
    width: 15px;
    font-size: 0.5rem;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
  }

</style>
