<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'about' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/settings">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">About</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info full-height-window">
        <div class="container full-height-window">
          <div class="row full-height-window">
            <div class="col-md-12 div-about">
              <section>
                <h4 class="about-title">About URBAN SKETCH</h4>
              </section>
              <section class="about-section">
                <h5 class="about-title">Version 1.0.0</h5>
                <p>
                  This is the first version of the app. The app is currently in Beta and we will be doing a production launch after a few artists have had a chance to use it.
                </p>
              </section>
              <section class="about-section">
                <h5 class="about-title">Terms of Use</h5>
              </section>
              <section class="about-section">
                <h5 class="about-title">Privacy Policy</h5>
              </section>
              <section class="about-section-logo">
                <img class="img-logo" src="../../../static/images/logo@2x.png">
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-settings",
    data() {
      return {
      };
    },
    mounted() {
      this.onRefresh();
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'about'});
      }, 100);
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        userId: state => state.authModule.id,
      }),
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
      }),

      onRefresh() {
      }
    }
  };
</script>

<style scoped>
  .header-title {
    padding-bottom: 2rem;
  }

  .header-title-left {
    float: left;
  }

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 40px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
  }

  .notification-item {
    padding-bottom: 1rem;
  }

  .notification-item-img {
    margin-right: .5rem;
    width: 50px;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0;
  }

  .div-about {
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .about-title {
    font-weight: bold;
  }
  .about-section {
    padding-top: 1rem;
  }
  .about-section-logo {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .info {
      overflow-y: scroll
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 125px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
