<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'following' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/currentProfile">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Following</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row header-title">
                <div class="col-md-12">
                  <div class="header-title-left">
                    <h4 class="mt-4">Who You Follow</h4>
                    <span class="fs-sm tc-green">You are following {{follows.length}} artists</span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 follow-title-item">
                  <div class="media">
                    <div class="media-body follow-item-body">
                      <div class="row">

                        <div class="col-md-8 follow-item-user">
                        </div>
                        <div class="col-md-3 follow-item-flow">
                          Who follows you
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 follow-item" v-for="(item, index) in follows" :key="index">
                  <div class="media">
                    <img class="d-flex follow-item-img rounded-circle" :src="item.imageUrl" alt="">
                    <div class="media-body follow-item-body">
                      <div class="row">

                        <div class="col-md-8 follow-item-user">
                          <a class="tc-green" @click="goToProfile(item.followingUserId)">@{{item.followerUserName}}</a>
                        </div>

                        <div class="col-md-3 follow-item-flow">
                          <a class="btn-follow" :class="item.value == 0 ? 'active' : ''" @click="updateFollowing(item)">
                            <i class="fas fa-eye"></i>
                          </a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-follows",
    data() {
      return {
        follows: []
      };
    },
    mounted() {
      this.onRefresh();
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'following'});
      }, 100);
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        userId: state => state.authModule.id,
      }),
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
        loadAllFollowing: "followModule/loadAllFollowing",
        updateFollowAction: "followModule/updateFollow"
      }),

      onRefresh() {
        this.loadAllFollowing({userId: this.userId})
          .then(data => {
            this.follows = data;
          })
          .catch(error => {
            this.$Notification.error("Get all following", error.message || error);
          });
      },

      updateFollowing(item) {
        var valueUpdate = item.value == 1 ? 0 : 1;

        this.updateFollowAction({
          userId: this.userId,
          data: {
            followingUserId: item.followingUserId,
            value: valueUpdate,
          }
        })
        .then(data => {
          this.onRefresh();
          if (valueUpdate == 1) {
            this.$Notification.notifyTemplateV1({
              text: 'You Followed',
              data: {
                  icon: 'fas fa-bookmark',
                  clickIcon: () => {},
                  clickName: '',
                  href: '#',
                  click: () => {}
              }
            });
          } else {
            this.$Notification.notifyTemplateV1({
              text: 'You Unfollowed',
              data: {
                  icon: 'fas fa-bookmark',
                  clickIcon: () => {},
                  clickName: '',
                  href: '#',
                  click: () => {}
              }
            });
          }

        })
        .catch(error => {
          this.$Notification.error("Update follow", error.message || error);
        })
      },

      goToProfile(userId) {
        window.location = `#/profile/${userId}`;
      }
    }
  };
</script>

<style scoped>
  .sidebar-wrapper {
    font-family: Montserrat-Medium;
  }
  .header-title {
    padding-bottom: 2rem;
  }

  .header-title-left {
    float: left;
  }

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 40px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
  }

  .follow-item {
    padding-bottom: 1rem;
  }

  .follow-item-img {
    margin-right: .5rem;
    width: 50px;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 5px 0px 0px 10px;
  }

  .btn-follow {
    color: #000F9F !important;
  }
  .btn-follow.active {
    color: #ACACAC !important;
  }
  .btn-block {
    color: #C10230 !important;
  }
  .btn-block.active {
    color: #ACACAC !important;
  }
  .follow-title-item .follow-item-user {
    margin-top: 0;
  }
  .follow-item-user {
    margin-top: 1rem;
    width: 60%;
  }
  .follow-title-item .follow-item-flow {
    margin-top: 0;
    font-size: .65rem;
  }
  .follow-item-flow {
    margin-top: 1rem;
    width: 30%;
    padding: 0;
    text-align: center;
  }

  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .info {
      overflow-y: scroll
    }
    .div-edit-profile {
      width: 35%;
      padding-top: 60px;
      padding-right: 5px;
    }
    .div-account {
      width: 35%;
      padding-top: 60px;
      padding-left: 5px;
    }
    .div-avatar {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
    }
    .sidebar-wrapper .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
    }
    .sidebar-wrapper .card.hovercard .avatar {
      top: -50px;
      margin-bottom: -50px;
    }
    .btn-edit-profile {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .btn-account {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .sidebar-wrapper .card.hovercard .info .title {
      font-size: 0.75rem;
    }
    .profile-name,
    .profile-desc,
    .profile-socicon {
      font-size: 0.75rem;
    }
    .gallery-item {
      width: 50%;
    }
    .btn-delete-sketch i {
      font-size: 1em;
    }
    .div-go-to-follows {
      width: 60%;
      font-size: .75rem;
    }
    .div-go-to-edit-feed {
      width: 40%;
      font-size: .75rem;
    }
    .header-title h4 {
      font-size: 1rem;
    }
    .header-title span {
      font-size: .75rem;
    }
    .follow-item-img {
      margin-right: .5rem;
      width: 40px;
    }
    .follow-item-user {
      margin-top: .75rem;
      width: 60%;
    }
    .follow-title-item .follow-item-flow {
      padding-left: 0;
      padding-right: 0;
    }
    .follow-item-flow {
      margin-top: .75rem;
      width: 30%;
      padding-right: 22px;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 125px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
