<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'feed' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Feed</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="cardheader">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 mt-2 div-go-to-notifications">
              <a class="fs-sm fw-bold tc-green" @click="goToNotifications">View Notifications</a>
            </div>
            <div class="col-sm-6 mt-2 div-go-to-edit-feed">
              <a class="fs-sm float-r fw-bold tc-green" @click="goToEditCurrentFeed">Edit feed</a>
            </div>
          </div>
        </div>
      </div>
      <div class="info">
        <c-carousel-feed v-for="(item, index) in favourites" :key="`sketch ${index}`" :items="item.sketches" :title="item.pinInfo.name"></c-carousel-feed>
        <c-carousel-feed v-for="(item, index) in followedUsers" :key="`artist ${index}`" :items="item.sketches" :title="`@${item.userInfo.name}`" info="Save artist"></c-carousel-feed>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import cCarouselFeed from "../c-carousel/cCarouselFeed.vue";

  export default {
    name: "c-feed",
    components: {
      cCarouselFeed
    },
    data() {
      return {
        items: [{
            name: "Tycoon Thai",
            tag: "Thai"
          },
          {
            name: "Ippudo",
            tag: "Japanese"
          },
          {
            name: "Milano",
            tag: "Pizza"
          },
          {
            name: "Tsing Tao",
            tag: "Chinese"
          },
          {
            name: "Frances",
            tag: "French"
          },
          {
            name: "Burma Superstar",
            tag: "Burmese"
          },
          {
            name: "Salt and Straw",
            tag: "Ice cream"
          }
        ],
        favourites: [],
        followedUsers: []
      };
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'feed'});
      }, 100);

      this.onRefresh();
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        userId: state => state.authModule.id,
        nameLeftSlider: state => state.nameLeftSlider,
        name: state => state.userModule.name,
        imageUrl: state => state.userModule.imageUrl
      }),
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
        getAllFeed: "feedModule/loadAll",
      }),

      onRefresh() {
        this.getAllFeed({userId: this.userId})
          .then(data => {
            this.favourites = data.favourites;
            this.followedUsers = data.followedUsers;

          })
          .catch(error => {
            this.$Notification.error("Get all feeds", error.message || error);
          });
      },

      goToEditCurrentFeed() {
        window.location = "#/editCurrentFeed";
        // if (this.isMobileSize) {
        //   window.location = "#/editCurrentFeed";
        // } else {
        //   this.setLeftSliderName({name: 'editCurrentFeed'})
        // }
      },

      goToNotifications() {
        window.location = "#/notifications";
        // if (this.isMobileSize) {
        //   window.location = "#/notifications";
        // } else {
        //   this.setLeftSliderName({name: 'notifications'})
        // }
      }
    },

    watch: {
      nameLeftSlider: function(newVal, oldVal) {
        if (newVal === 'feed') {
          this.onRefresh();
        }
      }
    }
  };
</script>

<style scoped>

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 40px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
  }

  @media (max-width: 575.98px) {
    .info {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
    }
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }

    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }

    .div-edit-profile {
      width: 35%;
      padding-top: 60px;
      padding-right: 5px;
    }

    .div-account{
      width: 35%;
      padding-top: 60px;
      padding-left: 5px;
    }

    .div-avatar {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
    }

    .sidebar-wrapper .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
    }

    .sidebar-wrapper .card.hovercard .avatar {
      top: -50px;
      margin-bottom: -50px;
    }

    .btn-edit-profile {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }

    .btn-account{
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }

    .sidebar-wrapper .card.hovercard .info .title {
      font-size: 0.75rem;
    }

    .profile-name,
    .profile-desc,
    .profile-socicon {
      font-size: 0.75rem;
    }

    .gallery-item {
      width: 50%;
    }

    .btn-delete-sketch i {
      font-size: 1em;
    }

    .div-go-to-notifications {
      width: 60%;
      font-size: .75rem;
    }

    .div-go-to-edit-feed {
      width: 40%;
      font-size: .75rem;
    }

    .sidebar-wrapper .card.hovercard .info {
      padding: 0;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 135px);
      overflow-y: scroll
    }

    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }

    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
