<template>
  <section>
    <c-image-collection></c-image-collection>
    <div id="map"></div>
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";
import cImageCollection from "../c-image-collection/cImageCollection.vue";

export default {
  name: "c-home-mapbox",
  components: {
    cImageCollection
  },
  data() {
    return {};
  },
  mounted() {
    this.onRefresh();
  },
  computed: {
    ...mapState({
      defaultLocation: state => state.defaultLocation,
      currentLocation: state => state.currentLocation,
      homeMap: state => state.homeMap,
      pins: state => state.pinModule.pins,
      elPinSelected: state => state.pinModule.elPinSelected,
      classMarkerDefault: state => state.classMarkerDefault,
      classMarkerNormal: state => state.classMarkerNormal,
      classMarkerSelected: state => state.classMarkerSelected,
      classMarkerCurrent: state => state.classMarkerCurrent
    })
  },
  methods: {
    ...mapActions({
      getCurrentLocation: "getCurrentLocation",
      setCurrentLocation: "setCurrentLocation",
      initMap: "initMap",
      addMapMarker: "addMapMarker",
      setHomeMap: "setHomeMap",
      setHomeCurrentMarker: "setHomeCurrentMarker",
      pushHomeMarker: "pushHomeMarker",
      setLeftSliderName: "setLeftSliderName",
      loadAllPins: "pinModule/loadAll",
      setPins: "pinModule/setPins",
      setPinSelected: "pinModule/setPinSelected"
    }),

    openImageCollection(el, pinId) {
      if (this.elPinSelected) {
        this.elPinSelected.classList.add(this.classMarkerNormal);
        this.elPinSelected.classList.remove(this.classMarkerSelected);
      }

      this.setPinSelected({
        pinId: pinId,
        el: el
      })
        .then(data => {
          el.classList.add(this.classMarkerSelected);
          el.classList.remove(this.classMarkerNormal);
          this.setLeftSliderName({
            name: "imageCollection"
          });
        })
        .catch(error => {
          this.$Notification.warn("Select pin", error.message || error);
        });
    },

    onRefresh() {
      this.onInitMap().then(data => {
        this.loadAllPins()
          .then(data => {
            this.setPins({ pins: data });
          })
          .catch(error => {
            this.$Notification.error("Get all pins", error.message || error);
          });
      });
    },

    onInitMap() {
      return new Promise((resolve, reject) => {
        var lng = this.$route.query.lng;
        var lat = this.$route.query.lat;
        if (lng && lat) {
          this.initMap({
            container: "map",
            center: [
              lng,
              lat
            ],
            zoom: 3
          }).then(map => {
            this.setHomeMap({ map: map });
            return resolve();
          });
        } else {
          this.getCurrentLocation()
            .then(location => {
              this.initMap({
                container: "map",
                center: [location.longitude, location.latitude],
                zoom: 2
              }).then(map => {
                this.setHomeMap({ map: map });
                this.setCurrentLocation({
                  longitude: location.longitude,
                  latitude: location.latitude
                });
                return resolve();
              });
            })
            .catch(error => {
              this.initMap({
                container: "map",
                center: [
                  this.defaultLocation.longitude,
                  this.defaultLocation.latitude
                ],
                zoom: 3
              }).then(map => {
                this.setHomeMap({ map: map });
                return resolve();
              });
            });
        }
      });
    },

    onRenderCurrentMarker() {
      this.addMapMarker({
        map: this.homeMap,
        marker: {
          name: "currentMarker",
          class: `${this.classMarkerDefault} ${this.classMarkerCurrent}`,
          location: [
            this.currentLocation.longitude,
            this.currentLocation.latitude
          ],
          event: () => {}
        }
      })
        .then(data => {
          this.setHomeCurrentMarker({
            marker: data
          });
        })
        .catch(error => {
          this.$Notification.error("Marker current", error.message || error);
        });
    },

    onRederAllPinMarker() {
      this.pins.forEach(item => {
        if (item.sketches.length) {
          this.addMapMarker({
            map: this.homeMap,
            marker: {
              name: item.id,
              class: `${this.classMarkerDefault} ${this.classMarkerNormal}`,
              location: [item.longitude, item.latitude],
              event: this.openImageCollection
            }
          }).then(data => {
            this.pushHomeMarker({
              marker: data
            });
          });
        }
      });
    }
  },
  watch: {
    pins: function(newVal, oldVal) {
      this.onRederAllPinMarker();
    },
    currentLocation: function(newVal, oldVal) {
      this.onRenderCurrentMarker();
    }
  }
};
</script>

<style scoped>
#map {
  height: 100vh;
  background-color: #5a5a5a;
}
</style>
