<template>
  <layout name="LayoutDefault">
    <section side-panel class="full-size-window">
      <c-header-mobile :title="pinName" @headerBackEvent="$router.go(-1)" v-if="isMobileSize"></c-header-mobile>

      <nav class="btn-back" v-else>
        <a href="#/" class="btn-back-item tc-green">
          <i class="fas fa-caret-left"></i>
        </a>
      </nav>

      <div class="container-fluid container-side-panel">
        <div class="row" v-if="!sketch">
          Loading...
        </div>
        <div class="row" v-else>
          <div class="col-no-padding col-sm-12">
            <a class="btn btn-sketch-back" @click="goToNextSketch(-1)" v-if="pinInfo.sketches && pinInfo.sketches.length > 1">
              <i class="fas fa-caret-left"></i>
            </a>
            <b-carousel id="carouselSketch" style="text-shadow: 1px 1px 2px #333;" background="#ababab" :interval="4000">
              <b-carousel-slide :img-src="sketch.url"></b-carousel-slide>
            </b-carousel>
            <a class="btn btn-sketch-next" @click="goToNextSketch(-1)" v-if="pinInfo.sketches && pinInfo.sketches.length > 1">
              <i class="fas fa-caret-right"></i>
            </a>
          </div>

          <div class="col-no-padding col-sm-12">
            <div class="container-body">
              <div class="row header-title">
                <div class="width-60">
                  <div class="header-title-left">
                    <h3 class="mt-4">{{sketch.name}}</h3>
                    <p class="lead">
                      <a class="tc-green fs-sm" @click="goToProfile(sketch.user.id)">@{{sketch.user.name}}</a>
                    </p>
                  </div>
                </div>
                <div class="width-40">
                  <div class="header-title-right">
                    <div class="mt-4">
                      <div class="comment fs-ms pr-2">
                        {{sketch.comments.length}} <i class="fas fa-comment-alt tc-blue fs-ms"></i>
                      </div>
                      <div class="like fs-ms pr-2" v-if="!isLoggedIn">
                        <a id="likeButton" class="tc-red" v-b-popover.hover.top="'Login to use this feature'">
                          {{sketch.likes.length}} <i class="fas fa-heart fs-ms"></i>
                        </a>
                      </div>
                      <div class="like fs-ms pr-2" v-else-if="isLiked(sketch.likes)">
                        <a class="tc-red" @click="addLike(sketch.id, 0)" alt="Unlike">
                                      {{sketch.likes.length}} <i class="fas fa-heart fs-ms"></i>
                                    </a>
                      </div>
                      <div class="like fs-ms" v-else>
                        <a class="tc-gray" @click="addLike(sketch.id, 1)" alt="Like">
                                      {{sketch.likes.length}} <i class="fas fa-heart fs-ms"></i>
                                    </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <p class="lead">
                  <span class="badge badge-tag" v-for="(tag, index) in sketch.tags" :key="`tag-${index}`">#{{tag.tag}}</span>
                </p>
              </div>

              <button type="button" class="btn btn-md btn-view-more" v-if="isMobileSize && !isViewMore" @click="isViewMore = true">View more</button>

              <div v-if="!isMobileSize || isViewMore">
                <section class="pt-1" v-if="isMobileSize && isLoggedIn">
                  <h5 class="fw-bold">Write a comment</h5>
                  <div class="media mb-4">
                    <div class="media-body">
                      <div class="form-group form-comment">
                        <input type="text" name="comment" class="form-control" placeholder="Write a comment here" v-model="textComment" v-on:keyup.enter="addComment">
                      </div>
                      <button type="button" class="btn btn-create-comment" @click="addComment"></button>
                    </div>
                  </div>
                </section>

                <h5 class="mt-4 mb-4 fw-bold">COMMENTS</h5>
                <div class="media" v-for="(comment, index) in sketch.comments" :key="index">
                  <img class="d-flex mr-3 rounded-circle img-comment" :src="comment.imageUrl" @error="imgUrlAlt">
                  <div class="media-body">
                    <span class="comment-name">@{{comment.name}}</span>
                    <p class="comment-value">{{comment.value}}</p>
                    <b-btn :id="'menuEditComment-' + index" class="btn-eidt-comment"><i class="fas fa-ellipsis-v"></i></b-btn>
                    <b-popover placement="lefttop" :target="'menuEditComment-' + index">
                      <a @click="removeComment(comment.id)">Remove</a>
                    </b-popover>
                  </div>
                </div>

                <section class="pt-5" v-if="!isMobileSize && isLoggedIn">
                  <h5 class="mt-4 mb-4 fw-bold">WRITE A COMMENT</h5>
                  <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle img-comment" :src="imageUrl" @error="imgUrlAlt">
                    <div class="media-body">
                      <div class="form-group">
                        <label for="comment" class="comment-name">@{{name}}</label>
                        <input type="text" name="comment" class="form-control" placeholder="Enter comment" v-model="textComment" v-on:keyup.enter="addComment">
                      </div>
                    </div>
                  </div>
                </section>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
  </layout>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";

  export default {
    name: "side-panel",
    components: {
      cHeaderMobile
    },
    data() {
      return {
        sketchId: '',
        sketch: null,
        pinName: '',
        sketches: null,
        isViewMore: false,
        textComment: '',
        tags: ["tage1", "tag2"],
        sketchCurrentIndex: 0,
        pinInfo: {
          sketches: {}
        }
      };
    },
    created() {
      this.sketchId = this.$route.params.sketchId;
      window.addEventListener('keyup', this.onKeyup)
      this.onRefresh();
    },
    computed: {
      ...mapState({
        userId: state => state.authModule.id,
        name: state => state.authModule.name,
        imageUrl: state => state.authModule.imageUrl,
        isMobileSize: state => state.isMobileSize,
        pinSelected: state => state.pinModule.pinSelected,
        isLoggedIn: state => state.authModule.isLoggedIn,
        elPinSelected: state => state.pinModule.elPinSelected,
      })
    },
    methods: {
      ...mapActions({
        getSketch: "sketchModule/getById",
        addLikeAction: "likeModule/addLike",
        setPinSelected: "pinModule/setPinSelected",
        loadAllPins: "pinModule/loadAll",
        getPinById: "pinModule/getPinById",
        setPins: "pinModule/setPins",
        addCommentAction: "commentModule/add",
        deleteComment: "commentModule/delete"
      }),

      onRefresh() {
        this.textComment = '';

        this.onRefreshCurentSketch(this.sketchId)
          .then(data => {
            this.getPinById({
                pinId: this.sketch.pinId
              })
              .then(data => {
                this.pinInfo = data;
                for (let index = 0; index < this.pinInfo.sketches.length; index++) {
                  const element = this.pinInfo.sketches[index];
                  if (element.id == this.sketchId) {
                    this.sketchCurrentIndex = index;
                    break;
                  }
                }
              })
              .catch(error => {
                this.$Notification.error("Get Pin", error.message || error);
              })
          })
      },

      onRefreshCurentSketch(sketchId) {
        return new Promise((resolve, reject) => {
          this.getSketch({
              sketchId: sketchId
            })
            .then(data => {
              this.sketch = data;
              this.pinName = data.pinName;

              return resolve();
            })
            .catch(error => {
              this.$Notification.error("Get Sketch", error.message || error);

              return reject(error);
            })
        })
      },

      goToNextSketch(step) {
        this.sketchCurrentIndex += step;

        if (this.sketchCurrentIndex < 0) {
          this.sketchCurrentIndex = this.pinInfo.sketches.length - 1;
        } else if (this.sketchCurrentIndex > this.pinInfo.sketches.length) {
          this.sketchCurrentIndex = 0;
        }

        this.sketchId = this.pinInfo.sketches[this.sketchCurrentIndex].id;
        this.onRefreshCurentSketch(this.sketchId);
      },

      imgUrlAlt(event) {
        event.target.src = "http://placehold.it/80x80"
      },

      isLiked(likes) {
        for (let index = 0; index < likes.length; index++) {
          const item = likes[index];
          if (item.userId === this.userId) {
            return true;
          }
        }

        return false
      },

      // value: 1-like , 0-unlike
      addLike(sketchId, value) {
        this.addLikeAction({
            userId: this.userId,
            sketchId: sketchId,
            value: value
          })
          .then(data => {
            if (value) {
              this.$Notification.notifyTemplateV1({
                  text: 'You Liked a Sketch',
                  data: {
                      icon: 'fas fa-heart',
                      clickIcon: () => {},
                      clickName: '',
                      href: '#',
                      click: () => {}
                  }
              });
            } else {
              this.$Notification.notifyTemplateV1({
                  text: 'You Removed your Like',
                  data: {
                      icon: 'fas fa-heart',
                      clickIcon: () => {},
                      clickName: '',
                      href: '#',
                      click: () => {}
                  }
              });
            }
            this.loadAllPins()
              .then(data => {
                this.setPins({
                  pins: data
                });
                this.setPinSelected({
                    pinId: this.pinSelected.id,
                    el: this.elPinSelected
                  })
                  .then(data => {
                    this.onRefresh();
                  })
                  .catch(error => {
                    this.$Notification.warn('Select pin', error.message || error);
                  });
              });
          })
          .catch(error => {
            if (value) {
              this.$Notification.error('Like', error.message || error);
            } else {
              this.$Notification.error('Unlike', error.message || error);
            }
          })
      },

      addComment() {
        if (this.textComment === '') {
          return;
        }

        this.addCommentAction({
            userId: this.userId,
            sketchId: this.sketchId,
            value: this.textComment
          })
          .then(data => {
            this.onRefresh();
            this.$Notification.notifyTemplateV1({
                text: 'Comment Added',
                data: {
                    icon: 'fas fa-comment-alt',
                    clickIcon: () => {},
                    clickName: '',
                    href: '#',
                    click: () => {}
                }
            });
          })
          .catch(error => {
            this.$Notification.error('Add comment', error.message || error);
          })
      },

      removeComment(commentId) {
        this.deleteComment({
            commentId: commentId
          })
          .then(data => {
            this.onRefresh();
            this.$Notification.notifyTemplateV1({
                text: 'Comment Deleted',
                data: {
                    icon: 'fas fa-comment-alt',
                    clickIcon: () => {},
                    clickName: '',
                    href: '#',
                    click: () => {}
                }
            });
          })
          .catch(error => {
            this.$Notification.error('Delete comment', error.message || error);
          })
      },

      onKeyup(event) {
        if (event.which == 37) {
          this.goToNextSketch(-1);
        } else if (event.which == 39) {
          this.goToNextSketch(-1);
        }
      },

      goToProfile(userId) {
        window.location = `#/profile/${userId}`;
      }
    },

    beforeDestroy: function () {
      window.removeEventListener('keyup', this.onKeyup)
    }
  };
</script>

<style scoped>
  .col-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .container-side-panel {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    min-height: 100%;
  }

  .container-side-panel .card,
  .container-side-panel .form-control {
    border-radius: 0;
  }

  .btn-back {
    z-index: 9;
  }

  .btn-back-item {
    display: block;
    position: relative;
    font-size: 50px;
    margin-left: 1rem;
  }

  .header-title-left {
    float: left;
  }

  .header-title-right {
    float: right;
  }

  .comment {
    display: inline;
  }

  .like {
    display: inline;
  }

  .img-comment {
    width: 80px;
    height: 80px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.52), 0px 0px 0px 0px rgba(0, 0, 0, 0.65);
  }

  #carouselSketch img {
    width: auto;
    height: 225px;
    max-height: 225px;
  }

  .card-header {
    padding: .75rem .5rem;
  }

  .card-body {
    padding: 1rem .5rem;
  }

  .btn-view-more {
    width: 45%;
    border-radius: 0;
    background-color: #487629;
    border: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .comment-name {
    color: #487629;
    font-size: 1rem;
    font-family: Montserrat-Medium
  }

  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #464646;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: #000000;
  }

  .tag-item {
    background-color: #ffffff;
    color: #000000;
    border-color: #179400;
    border-radius: 0;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    padding: .1rem .5rem;
  }

  .media-body {
    position: relative;
  }

  .btn-eidt-comment {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    color: #000;
  }

  .media {
    margin-bottom: 2rem;
  }

  .btn-create-comment {
    position: absolute;
    right: 0;
    bottom: 18px;
    background-image: url(/static/images/back-arrow.svg);
    background-repeat: no-repeat;
    height: 80%;
    background-color: transparent;
  }

  .btn-sketch-back {
    position: absolute;
    top: 50%;
    margin-left: -50px;
    color: #487629 !important;
    font-size: 50px;
  }

  .btn-sketch-next {
    margin-right: -50px;
    position: absolute;
    top: 50%;
    right: 0;
    color: #487629 !important;
    font-size: 50px;
  }

  .badge-tag {
    color: #fff;
    background-color: #487629;
    border-radius: 1rem;
    margin-right: .5rem;
  }
  @media (max-width: 575.98px) {
    .container-side-panel {
      padding-top: 60px;
    }
    .container-body {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .fs-md {
      font-size: 1rem;
    }
    .h3,
    h3 {
      font-size: 1.25rem;
    }
    .h5,
    h5 {
      font-size: 1rem;
    }
    .h6,
    h6 {
      font-size: .75rem;
    }
    .lead {
      font-size: 0.5rem;
      font-weight: 300;
    }
    .btn {
      padding: .2rem .5rem;
      font-size: .75rem;
    }
    .card-header {
      padding: .5rem .5rem;
    }
    .card-body {
      padding: .5rem .5rem;
    }
    .form-control {
      line-height: 1;
      margin-bottom: .5rem;
    }
    .img-comment {
      width: 40px;
      height: 40px;
    }
    .comment-name {
      font-size: .75rem;
      margin-bottom: 0;
    }
    input[type="text"],
    select.form-control {
      font-size: .75rem;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: .2rem;
      height: 1.5rem;
    }
    .col-tag-item {
      width: 50%;
    }
    .media {
      margin-bottom: .5rem;
    }
    .form-comment {
      margin-right: 25px;
    }
    .btn-sketch-back {
      top: 40%;
      margin-left: 10px;
      font-size: 50px !important;
      z-index: 9;
    }
    .btn-sketch-next {
      top: 40%;
      margin-right: 10px;
      font-size: 50px !important;
      z-index: 9;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .container-side-panel {
      padding: 0rem 4rem 4rem 4rem;
      background-image: url(/static/images/watercolor-background-1.png);
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .container-side-panel {
      padding: 0rem 8rem 4rem 8rem;
      background-image: url(/static/images/watercolor-background-1.png);
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .container-side-panel {
      padding: 0rem 10rem 4rem 10rem;
      background-image: url(/static/images/watercolor-background-1.png);
    }
  }

  @media (min-width: 1200px) {
    .container-side-panel {
      padding: 0rem 10rem 4rem 10rem;
      background-image: url(/static/images/watercolor-background-1.png);
    }
  }
</style>
