<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'tutorial' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" @click="onBackState">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Tutorial</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" @click="onSkip">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info full-height-window">
        <div class="container full-height-window">
          <div class="row">
            <div class="col-sm-12 div-skip">
              <button type="button" class="float-r btn btn-md btn-primary btn-block btn-skip" @click="onSkip">Skip</button>
            </div>
          </div>
          <div class="row" v-if="state == 1">
            <div class="col-md-12 div-tutorial">
              <section class="tutorial-section">
                <h4 class="tutorial-title">Welcome to Urban Sketch!</h4>
              </section>
              <section class="tutorial-section">
                <h5 class="tutorial-title">Step 1: Select your location</h5>
                <img class="img-location" src="../../../static/images/red-marker.png">
              </section>
              <section class="tutorial-section">
                <p class="tutorial-text">Protip: Pick the location you sketched instead of the location you were sketching from</p>
                <img class="img-upload" src="../../../static/images/upload.svg">
              </section>
            </div>
          </div>

          <div class="row" v-if="state == 2">
            <div class="col-md-12 div-tutorial">
              <section class="tutorial-section">
                <h4 class="tutorial-title">Welcome to Urban Sketch!</h4>
              </section>
              <section class="tutorial-section">
                <h5 class="tutorial-title">Step 2: Confirm your art details</h5>
              </section>
              <section class="tutorial-section-content">
                <div class="tutorial-section-content-left">
                  <span class="img-tutorial-t">T</span>
                </div>
                <div class="tutorial-section-content-right">
                  <h6>Title & Caption your art</h6>
                </div>
              </section>
              <section class="tutorial-section-content">
                <div class="tutorial-section-content-left">
                  <img class="img-tutorial-eye" src="../../../static/images/big-eye.svg">
                </div>
                <div class="tutorial-section-content-right">
                  <h6>Add tags</h6>
                  <p>Add relevant tags to help people find your masterpiece</p>
                </div>
              </section>
              <section class="tutorial-section-content">
                <div class="tutorial-section-content-left">
                  <img class="img-tutorial-pin" src="../../../static/images/big-pin.svg">
                </div>
                <div class="tutorial-section-content-right">
                  <h6>Choose location</h6>
                  <p>This will be pre-filled if you began your upload from a location</p>
                </div>
              </section>
              <section class="tutorial-section-content">
                <div class="tutorial-section-content-left">
                  <img class="img-tutorial-pencil" src="../../../static/images/big-pencil.svg">
                </div>
                <div class="tutorial-section-content-right">
                  <h6>Edit your art</h6>
                  <p>Crop, overlay, and sign your art</p>
                </div>
              </section>
            </div>
          </div>

          <div class="row" v-if="state == 3">
            <div class="col-md-12 div-tutorial">
              <section class="tutorial-section">
                <h4 class="tutorial-title">Welcome to Urban Sketch!</h4>
              </section>
              <section class="tutorial-section">
                <h5 class="tutorial-title">Step 3: Share your art with the world!</h5>
              </section>
              <section class="tutorial-section">
                <p class="tutorial-text2">View your art on location by clicking the location pin</p>
                <p class="tutorial-text2">Use tags to share your art with likeminded people</p>
                <p class="tutorial-text2">View other artist's work on location and by searching tags</p>
                <p class="tutorial-text2">Don't forget to add artists, locations, and tags to your feed so you can keep up with new art!</p>
              </section>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 div-footer">
              <button type="button" class="float-r btn btn-md btn-primary btn-block btn-tutorial" @click="onNextState">{{textButtonTutorial}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-settings",
    data() {
      return {
        state: 1,
        textButtonTutorial: 'Next'
      };
    },
    mounted() {},
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'tutorial'});
      }, 100);
      this.onRefresh();
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        // -- //
        userId: state => state.authModule.id,
        email: state => state.authModule.email,
        name: state => state.authModule.name,
        bio: state => state.authModule.bio,
        website: state => state.authModule.website,
        insta_handle: state => state.authModule.insta_handle,
        imageUrl: state => state.authModule.imageUrl,
        fbAuthToken: state => state.authModule.fbAuthToken,
      }),
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
        updateCurrentUserAction: "authModule/updateCurrentUser",
        getCurrentUser: "authModule/getCurrentUser",
      }),

      onRefresh() {
        var step = this.$route.params.step;
        if (step == 1) {
          this.textButtonTutorial = "Next";
        } else if (step == 2) {
          this.textButtonTutorial = "Next";
        } else {
          this.textButtonTutorial = "Get Started";
        }

        this.state = parseInt(step);
      },

      onBackState() {
        if (this.state == 2) {
          window.location = "#/tutorial/1";
        } else if (this.state == 3) {
          window.location = "#/tutorial/2";
        } else {
          this.onSkip();
        }
      },

      onNextState() {
        if (this.state == 1) {
          window.location = "#/tutorial/2";
        } else if (this.state == 2) {
          window.location = "#/tutorial/3";
        } else {
          this.onSkip();
        }
      },

      onSkip() {
        this.updateCurrentUserAction({
            currentUser: {
              id: this.userId,
              name: this.name,
              email: this.email,
              imageUrl: this.imageUrl,
              insta_handle: this.insta_handle,
              website: this.website,
              bio: this.bio,
              fbAuthToken: this.fbAuthToken,
              tutorialSeen: 1,
            }
          })
          .then(result => {
            window.location = "#/";
            // window.location.reload(true);
          })
          .catch(errors => {
            this.$Notification.error("Update current user", errors.message || errors);
          });
      }
    },

    watch: {
      '$route' (to, from) {
        this.onRefresh();
      }
    }
  };
</script>

<style scoped>
  .header-title {
    padding-bottom: 2rem;
  }

  .header-title-left {
    float: left;
  }

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 40px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
  }

  .notification-item {
    padding-bottom: 1rem;
  }

  .notification-item-img {
    margin-right: .5rem;
    width: 50px;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0;
  }

  .div-tutorial {
    padding-top: 0;
  }

  .tutorial-title {
    font-weight: bold;
    color: #487629;
  }

  .tutorial-text {
    font-weight: bold;
    color: #487629;
    margin: 1rem 4rem;
  }

  .tutorial-text2 {
    font-weight: 700;
    color: #464646;
    margin: 1rem 4rem;
  }

  .tutorial-section-content {
    margin: 0rem 2rem 1rem 2rem;
    display: flex;
  }

  .tutorial-section {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
  }

  .tutorial-section-content-left {
    width: 15%;
    float: left;
  }

  .tutorial-section-content-right {
    width: 85%;
    float: right;
  }

  .tutorial-section-content-right h6 {
    font-weight: bold;
    margin-bottom: .2rem;
  }

  .tutorial-section-content-right p {
    margin-bottom: .5rem;
    color: #ACACAC;
  }

  .btn-tutorial {
    padding: .6rem;
    font-family: Montserrat-Bold, sans-serif;
    width: 100%;
    border-radius: 0;
    background-color: #FFDD00;
    border: none;
    color: #505050;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .img-upload {
    width: 50px;
  }

  .img-tutorial-eye {
    width: 25px;
  }

  .img-tutorial-pin {
    width: 20px;
  }

  .img-tutorial-pencil {
    width: 20px;
  }

  .img-tutorial-t {
    width: 25px;
    color: #FFDD00;
    font-size: 2rem;
    font-weight: bold;
    line-height: .7;
    margin-left: .2rem;
  }

  .div-skip {
    padding-top: 1rem;
  }

  .btn-skip {
    padding: .1rem;
    font-family: Montserrat-Bold, sans-serif;
    width: 70px;
    border-radius: 0;
    background-color: #FFDD00;
    border: 1px solid;
    color: #505050;
  }

  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .div-footer {
      position: absolute;
      bottom: 2rem;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 125px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
    .div-footer {
      padding-bottom: 2rem;
      padding-top: 3rem;
    }
  }
</style>
