<template>
  <section>
    <update-current-profile-mobile v-if="isMobileSize"></update-current-profile-mobile>
    <update-current-profile-desktop v-else></update-current-profile-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import UpdateCurrentProfileMobile from "./UpdateCurrentProfile.mobile.vue"
  import UpdateCurrentProfileDesktop from "./UpdateCurrentProfile.desktop.vue"

  export default {
    name: "update-current-profile",
    components: {
      UpdateCurrentProfileMobile,
      UpdateCurrentProfileDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
