<template>
  <section section-current-profile-mobile>
    <c-header-mobile title="Account" @headerBackEvent="$router.push('/currentProfile')"></c-header-mobile>
    <c-update-current-profile></c-update-current-profile>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cUpdateCurrentProfile from '../../components/c-update-current-profile/cUpdateCurrentProfile.vue'

  export default {
    name: "current-profile-mobile",
    components: {
      cHeaderMobile,
      cUpdateCurrentProfile
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
