<template>
  <layout name="LayoutMap">
    <c-update-current-profile></c-update-current-profile>
  </layout>
</template>

<script>
  import cUpdateCurrentProfile from '../../components/c-update-current-profile/cUpdateCurrentProfile.vue'

  export default {
    name: "update-current-profile-desktop",
    components: {
      cUpdateCurrentProfile
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
