<template>
  <section section-settings class="full-size-window">
    <settings-mobile v-if="isMobileSize"></settings-mobile>
    <settings-desktop v-else></settings-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import SettingsMobile from "./Settings.mobile.vue"
  import SettingsDesktop from "./Settings.desktop.vue"

  export default {
    name: "settings",
    components: {
      SettingsMobile,
      SettingsDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
