<template>
  <section section-settings-mobile class="full-size-window">
    <c-header-mobile title="Settings" @headerBackEvent="$router.push('/accountMenu')"></c-header-mobile>
    <c-settings></c-settings>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cSettings from '../../components/c-settings/cSettings.vue'

  export default {
    name: "settings-mobile",
    components: {
      cHeaderMobile,
      cSettings
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
