<template>
  <layout name="LayoutMap">
    <c-settings></c-settings>
  </layout>
</template>

<script>
  import cSettings from '../../components/c-settings/cSettings.vue'

  export default {
    name: "settings-desktop",
    components: {
      cSettings
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
