<template>
  <section c-image-collection>
    <nav id="section-image-collection-mobile" :class="nameLeftSlider === 'imageCollection' ? 'active' : ''" v-if="isMobileSize">
      <a class="btn btn-sm btn-close" @click="closeImageCollection">
        <i class="fas fa-times tc-green"></i>
      </a>
      <c-carousel-pin-full-width :pinInfo="pinSelected" :isPinFavourited="isPinFavourited" @addLike="addLike" @addFavourite="addFavourite" @goToProfile="goToProfile"></c-carousel-pin-full-width>
    </nav>

    <nav class="sidebar-wrapper" :class="nameLeftSlider === 'imageCollection' ? 'active' : ''" v-else>
      <div class="sidebar-wrapper-header">
      </div>
      <div class="sidebar-wrapper-header2">
        <a class="btn btn-sm btn-back-sidebar" @click="closeImageCollection">
          <i class="fas fa-caret-left fs-lg"></i>
        </a>
        <div class="sidebar-wrapper-header2-title">
          <span class="tc-green">Art of Location</span>
        </div>
        <a class="btn btn-sm btn-close-sidebar" @click="closeImageCollection">
          <i class="fas fa-times fs-lg"></i>
        </a>
      </div>
      <div class="card hovercard">
        <div class="cardheader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="title mt-2 ml-4">
                  <span class="fs-sm fw-bold">{{ pinSelected.name }}</span>
                  <br/>
                  <!-- <span class="fs-xs">175 5th Ave, New York, NY 10010, USA</span> -->
                </div>
              </div>
              <div class="col-sm-4" v-if="isLoggedIn">
                <div class="action float-r tc-green fs-md mt-3 mr-2">
                  <a class="btn tc-green" @click="addFavourite(pinSelected.id)">
                    <i class="fas" :class="isPinFavourited === '1' ? 'fa-eye' : 'fa-eye-slash'"></i>
                  </a>
                  <a class="tc-green btn btn-upload2" :href="`#/upload?pinId=${pinSelected.id}&pinName=${pinSelected.name}&lng=${pinSelected.longitude}&lat=${pinSelected.latitude}`">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="info">
          <div class="container">
            <div class="row">

              <div class="col-sm-12 pb-5" v-for="(item, index) in pinSelected.sketches" :key="index">
                <a :href="`#/sidePanel/${item.id}`">
                  <b-img :src="item.url" fluid alt="Responsive image" />
                </a>

                <div class="row header-title">
                  <div class="col-sm-7">
                    <div class="header-title-left">
                      <h4 class="mt-4">{{item.name}}</h4>
                      <p class="fs-sm">
                        <a class="tc-green" @click="goToProfile(item.user.id)">@{{item.user.name}}</a>
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="header-title-right">
                      <div class="mt-4">
                        <div class="comment pr-2">
                          <a :href="`#/sidePanel/${item.id}`" class="tc-blue fs-sm">
                                  {{item.comments.length}} <i class="fas fa-comment-alt tc-blue fs-sm"></i>
                                </a>
                        </div>
                        <div class="like pr-2" v-if="!isLoggedIn">
                          <a class="tc-red fs-sm" v-b-popover.hover.top="'Login to use this feature'">
                                  {{item.likes.length}} <i class="fas fa-heart tc-red fs-sm"></i>
                                </a>
                        </div>
                        <div class="like pr-2" v-else-if="isLiked(item.likes)">
                          <a class="tc-red fs-sm" @click="addLike(item.id, 0)" alt="Unlike">
                                  {{item.likes.length}} <i class="fas fa-heart tc-red fs-sm"></i>
                                </a>
                        </div>
                        <div class="like" v-else>
                          <a class="tc-gray fs-sm" @click="addLike(item.id, 1)" alt="Like">
                                  {{item.likes.length}} <i class="fas fa-heart fs-sm"></i>
                                </a>
                        </div>
                      </div>
                      <div class="view-peice tc-green fs-sm float-r mt-2">
                        <a :href="`#/sidePanel/${item.id}`" class="tc-green">View peice</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import cCarouselPinFullWidth from '../../components/c-carousel/cCarouselPinFullWidth.vue'

  export default {
    name: "c-image-collection",
    components: {
      cCarouselPinFullWidth
    },
    data() {
      return {
        isPinFavourited: ''
      };
    },
    created() {
      this.setLeftSliderName({name: ''});
      if (this.pinSelected.id) {
        this.onCheckPinFavourited(this.pinSelected.id)
      }
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        userId: state => state.authModule.id,
        isLoggedIn: state => state.authModule.isLoggedIn,
        nameLeftSlider: state => state.nameLeftSlider,
        pinSelected: state => state.pinModule.pinSelected,
        elPinSelected: state => state.pinModule.elPinSelected,
        classMarkerNormal: state => state.classMarkerNormal,
        classMarkerSelected: state => state.classMarkerSelected,
      })
    },
    methods: {
      ...mapActions({
        backLeftSlider: "backLeftSlider",
        setLeftSliderName: "setLeftSliderName",
        setPinSelected: "pinModule/setPinSelected",
        addFavouriteAction: "favouriteModule/addFavourite",
        getUserInfo: "userModule/getUserInfo",
        addLikeAction: "likeModule/addLike",
        loadAllPins: "pinModule/loadAll",
        setPins: "pinModule/setPins",
        getPinById: "pinModule/getPinById",
      }),

      onCheckPinFavourited(pinId) {
        return new Promise((resolve, reject) => {
          this.getPinById({
            pinId: pinId,
            userId: this.userId
          })
          .then(data => {
            this.isPinFavourited = data.isPinFavourited;
            return resolve();
          })
          .catch(error => {
            this.$Notification.error("Get Pin", error.message || error);
            return reject(error);
          })
        })
      },

      closeImageCollection() {
        if (this.elPinSelected) {
          this.elPinSelected.classList.add(this.classMarkerNormal);
          this.elPinSelected.classList.remove(this.classMarkerSelected);
        }

        this.setPinSelected({
            pinId: null,
            el: null
          })
          .then(data => {
            this.setLeftSliderName({
              name: ''
            })
            // this.backLeftSlider()
          })
          .catch(error => {
            this.$Notification.warn('Select pin', error.message || error);
          });
      },

      addFavourite(pinId) {
        var valueFavourite = this.isPinFavourited === "1" ? "0" : "1";

        this.addFavouriteAction({
            pinId: pinId,
            userId: this.userId,
            value: valueFavourite
          })
          .then(data => {
            this.onCheckPinFavourited(pinId)
              .then(data => {
                var iconClass = this.isPinFavourited === '1' ? 'fas fa-eye' : 'fas fa-eye-slash';
                var textNoti = this.isPinFavourited === '1' ? 'Added to feed' : 'Removed from feed';
                this.$Notification.notifyTemplateV1({
                  text: textNoti,
                  data: {
                    icon: iconClass,
                    clickIcon: () => {
                      this.addFavourite(this.pinSelected.id)
                    },
                    clickName: 'VIEW FEED',
                    href: '#',
                    click: () => {
                      this.setLeftSliderName({
                        name: 'feed'
                      })
                    }
                  }
                });
              });


          })
          .catch(error => {
            this.$Notification.warn('Add favourite', error.message || error);
          })
      },

      isLiked(likes) {
        for (let index = 0; index < likes.length; index++) {
          const item = likes[index];
          if (item.userId === this.userId) {
            return true;
          }
        }

        return false
      },

      // value: 1-like , 0-unlike
      addLike(sketchId, value) {
        this.addLikeAction({
            userId: this.userId,
            sketchId: sketchId,
            value: value
          })
          .then(data => {
            if (value) {
              this.$Notification.notifyTemplateV1({
                  text: 'You Liked a Sketch',
                  data: {
                      icon: 'fas fa-heart',
                      clickIcon: () => {},
                      clickName: '',
                      href: '#',
                      click: () => {}
                  }
              });
            } else {
              this.$Notification.notifyTemplateV1({
                  text: 'You Removed your Like',
                  data: {
                      icon: 'fas fa-heart',
                      clickIcon: () => {},
                      clickName: '',
                      href: '#',
                      click: () => {}
                  }
              });
            }
            this.loadAllPins()
              .then(data => {
                this.setPins({
                  pins: data
                });
                this.setPinSelected({
                    pinId: this.pinSelected.id,
                    el: this.elPinSelected
                  })
                  .then(data => {})
                  .catch(error => {
                    this.$Notification.warn('Select pin', error.message || error);
                  });
              });
          })
          .catch(error => {
            if (value) {
              this.$Notification.error('Like', error.message || error);
            } else {
              this.$Notification.error('Unlike', error.message || error);
            }
          })
      },

      goToProfile(userId) {
        window.location = `#/profile/${userId}`;
      }
    },

    watch: {
      pinSelected: function(newVal, oldVal) {
        if (newVal.id) {
          this.onCheckPinFavourited(newVal.id);
        }
      }
    }
  };
</script>

<style scoped>
  .sidebar-wrapper .sidebar-wrapper-header2-title {
    float: left;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 70%;
    text-align: center;
    color: #487629;
  }

  .sidebar-wrapper .sidebar-wrapper-header2 {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .header-title-left {
    float: left;
  }

  .header-title-right {
    float: right;
  }

  .view-peice {
    display: inline;
  }

  .comment {
    display: inline;
  }

  .like {
    display: inline;
  }

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 60px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
    padding-top: 5px;
  }

  .info {
    width: 100%;
    height: -webkit-calc(100% - 195px);
    height: -moz-calc(100% - 195px);
    height: calc(100% - 195px);
    overflow-y: scroll
  }

  .info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .info::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  .info::-webkit-scrollbar-thumb {
    background-color: #707070;
    border: 2px solid #999999;
  }

  .btn-upload2 {
    background-image: url("../../../static/images/upload-2.svg");
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    padding: 0.7rem;
  }

  #section-image-collection-mobile {
    position: fixed;
    z-index: 9;
    bottom: -200px;
    width: 100%;
    height: 200px;
    transition: all 0.4s ease 0s;
    background: #FFF;
  }

  #section-image-collection-mobile.active {
    bottom: 0px;
    transition: all 0.4s ease 0s;
  }

  #section-image-collection-mobile .btn-close {
    position: fixed;
    z-index: 15;
  }

  .carousel-image {
    padding-left: 0;
    padding-right: 0;
  }

  .card-carousel-wrapper .comment {
    display: inline;
    font-size: 0.75rem;
  }

  .card-carousel-wrapper .like {
    display: inline;
    font-size: 0.75rem;
  }

  .card-carousel-wrapper .favourite {
    display: inline;
    font-size: 0.75rem;
  }

  .card-carousel-wrapper {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 5px 0 20px;
    color: #666a73;
  }

  .card-carousel {
    display: flex;
    justify-content: left;
    width: 100%;
  }

  .card-carousel--overflow-container {
    overflow-x: scroll;
  }

  .card-carousel--nav__left,
  .card-carousel--nav__right {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid #42b883;
    border-right: 2px solid #42b883;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 150ms linear;
  }

  .card-carousel--nav__left[disabled],
  .card-carousel--nav__right[disabled] {
    opacity: 0.2;
    border-color: black;
  }

  .card-carousel--nav__left {
    transform: rotate(-135deg);
  }

  .card-carousel--nav__left:active {
    transform: rotate(-135deg) scale(0.9);
  }

  .card-carousel--nav__right {
    transform: rotate(45deg);
  }

  .card-carousel--nav__right:active {
    transform: rotate(45deg) scale(0.9);
  }

  .card-carousel-cards {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translatex(0px);
  }

  .card-carousel-cards .card-carousel--card {
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    z-index: 3;
    margin-bottom: 2px;
    width: 120px;
  }

  .card-carousel-cards .card-carousel--card:first-child {
    margin-left: 0;
  }

  .card-carousel-cards .card-carousel--card:last-child {
    margin-right: 0;
  }

  .card-carousel-cards .card-carousel--card img {
    vertical-align: bottom;
    transition: opacity 150ms linear;
    user-select: none;
    width: 153px;
  }

  .card-carousel-cards .card-carousel--card img:hover {
    opacity: 0.5;
  }

  .card-carousel-cards .card-carousel--card--footer {
    border-top: 0;
  }

  .card-carousel-cards .card-carousel--card--footer p {
    padding: 3px 0;
    margin: 0;
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: 500;
    color: #2c3e50;
    user-select: none;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2) {
    font-size: 12px;
    font-weight: 300;
    padding: 6px;
    background: rgba(40, 44, 53, 0.06);
    display: inline-block;
    position: relative;
    margin-left: 4px;
    color: #666a73;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent rgba(40, 44, 53, 0.06) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):after {
    content: "";
    position: absolute;
    top: 10px;
    left: -1px;
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: white;
    box-shadow: 0px 0px 0px #004977;
  }

  .img-carousel {
    display: -webkit-flex;
    width: 120px;
    height: 80px;
    background-color: #adadad;
    background-image: url(https://placehold.it/200x120);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
</style>
