<template>
  <div class="ball-loader">
    <div class="ball-loader-ball ball1"></div>
    <div class="ball-loader-ball ball2"></div>
    <div class="ball-loader-ball ball3"></div>
    <div class="ball-loader-ball ball4"></div>
  </div>
</template>

<script>
  export default {
    name: "c-loader",
    data() {
      return {
      };
    },
    mounted() {},
    created() {},
    computed: {},
    methods: {}
  };
</script>

<style scoped>
.ball-loader {
  width: 100px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ball-loader-ball {
  will-change: transform;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: lightBlue;
  position: absolute;
  animation: grow 1s ease-in-out infinite alternate;
}
.ball-loader-ball.ball1 {
  left: 0;
  transform-origin: 100% 50%;
  background-color: #487629;
}
.ball-loader-ball.ball2 {
  left: 35%;
  transform: translateX(-50%) scale(1);
  animation-delay: 0.33s;
  background-color: #FFDD00;
}
.ball-loader-ball.ball3 {
  left: 60%;
  transform: translateX(-50%) scale(1);
  animation-delay: 0.66s;
  background-color: #000dab;
}
.ball-loader-ball.ball4 {
  right: 0;
  animation-delay: 0.99s;
  background-color: #940000;
}

@keyframes grow {
  to {
    transform: translateX(-50%) scale(0);
  }
}
</style>
