<template>
  <section section-tutorial class="full-size-window">
    <tutorial-mobile v-if="isMobileSize"></tutorial-mobile>
    <tutorial-desktop v-else></tutorial-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import TutorialMobile from "./Tutorial.mobile.vue"
  import TutorialDesktop from "./Tutorial.desktop.vue"

  export default {
    name: "tutorial",
    components: {
      TutorialMobile,
      TutorialDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
