<template>
  <section section-tutorial-mobile class="full-size-window">
    <c-header-mobile title="Tutorial" @headerBackEvent="$router.go(-1)"></c-header-mobile>
    <c-tutorial></c-tutorial>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cTutorial from '../../components/c-tutorial/cTutorial.vue'

  export default {
    name: "tutorial-mobile",
    components: {
      cHeaderMobile,
      cTutorial
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
