<template>
  <layout name="LayoutMap">
    <c-tutorial></c-tutorial>
  </layout>
</template>

<script>
  import cTutorial from '../../components/c-tutorial/cTutorial.vue'

  export default {
    name: "tutorial-desktop",
    components: {
      cTutorial
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
