<template>
  <c-search></c-search>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import cSearch from '../../components/c-search/cSearch.vue'

  export default {
    name: "search-mobile",
    components: {
      cSearch
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
