<template>
  <div>
    search desktop
  </div>
</template>

<script>
  export default {
    name: "search-desktop",
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
