<template>
  <section>
    <c-menu></c-menu>
    <search-mobile v-if="isMobileSize"></search-mobile>
    <search-desktop v-else></search-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import SearchMobile from "./Search.mobile.vue"
  import SearchDesktop from "./Search.desktop.vue"
  import cMenu from "../../components/c-menu/cMenu.vue";

  export default {
    name: "search",
    components: {
      SearchMobile,
      SearchDesktop,
      cMenu
    },
    data() {
      return {
      };
    },
    mounted() {
    },
    created() {},
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
