<template>
  <section c-caroudel-feed>
    <div class="container" v-if="isMobileSize">
      <div class="row">
        <div class="width-80">
          <div class="title mt-2">
            <span class="fs-sm fw-bold">{{ title }}</span>
            <br/>
            <span class="fs-3x">{{info}}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="width-100 carousel-image">
          <div class="card-carousel-wrapper">
            <div class="card-carousel">
              <div class="card-carousel--overflow-container">
                <div class="card-carousel-cards">
                  <div class="card-carousel--card" v-for="(item, index) in items" :key="index">
                    <div class="card-carousel--card--header float-r fs-xs tc-green">
                      @{{ item.name }}
                    </div>
                    <a :href="`#/sidePanel/${item.id}`">
                      <div class="img-carousel" :style="`background-image: url(${item.url});`"></div>
                    </a>

                    <div class="card-carousel--card--footer float-r mt-1">
                      <div class="comment">
                        <a class="tc-blue">
                                  {{item.commentsCount}} <i class="fas fa-comment-alt tc-blue"></i>
                                </a>
                      </div>
                      <div class="like">
                        <a class="tc-red" alt="Like">
                                  {{item.likesCount}} <i class="fas fa-heart"></i>
                                </a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" v-else>
      <div class="row">
        <div class="col-md-12">
          <div class="row header-title">
            <div class="col-md-7">
              <div class="header-title-left">
                <h4 class="mt-4">{{title}}</h4>
                <span class="fs-sm">{{info}}</span>
              </div>
            </div>
          </div>

          <div class="card-carousel-wrapper">
            <div class="card-carousel--nav__left" @click="moveCarousel(-1)" :disabled="atHeadOfList" v-if="items && items.length >1"></div>
            <div class="card-carousel">
              <div class="card-carousel--overflow-container">
                <div class="card-carousel-cards" :style="{ transform: 'translateX' + '(' + currentOffset + 'px' + ')'}">
                  <div class="card-carousel--card" v-for="(item, index) in items" :key="index">
                    <div class="card-carousel--card--header float-r fs-xs tc-green">
                      @{{ item.name }}
                    </div>
                    <a :href="`#/sidePanel/${item.id}`">
                      <div class="img-carousel" :style="`background-image: url(${item.url});`"></div>
                    </a>
                    <div class="card-carousel--card--footer float-r mt-1">
                      <div class="comment">
                        {{item.commentsCount}} <i class="fas fa-comment-alt tc-blue"></i>
                      </div>
                      <div class="like">
                        {{item.likesCount}} <i class="fas fa-heart tc-red"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-carousel--nav__right" @click="moveCarousel(1)" :disabled="atEndOfList" v-if="items && items.length >1"></div>
          </div>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-caroudel-feed",
    props: ["items", "title", "info"],
    data() {
      return {
        currentOffset: 0,
        windowSize: 3,
        paginationFactor: 130
      };
    },
    created() {},
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      }),

      atEndOfList() {
        return (
          this.currentOffset <=
          this.paginationFactor * -1 * (this.items.length - this.windowSize)
        );
      },
      atHeadOfList() {
        return this.currentOffset === 0;
      }
    },
    methods: {
      moveCarousel(direction) {
        // Find a more elegant way to express the :style. consider using props to make it truly generic
        if (direction === 1 && !this.atEndOfList) {
          this.currentOffset -= this.paginationFactor;
        } else if (direction === -1 && !this.atHeadOfList) {
          this.currentOffset += this.paginationFactor;
        }
      },

      imgUrlAlt(event) {
        event.target.src = "https://placehold.it/120x80"
      },
    }
  };
</script>

<style scoped>
  .header-title-left {
    float: left;
  }

  .card-carousel-wrapper .comment {
    display: inline;
    font-size: .75rem;
  }

  .card-carousel-wrapper .like {
    display: inline;
    font-size: .75rem;
    margin-left: .5rem;
  }

  .card-carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 20px;
    color: #666a73;
  }

  .card-carousel {
    display: flex;
    justify-content: center;
    width: 480px;
  }

  .card-carousel--overflow-container {
    overflow: hidden;
  }

  .card-carousel--nav__left,
  .card-carousel--nav__right {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 5px;
    box-sizing: border-box;
    border-top: 5px solid #42b883;
    border-right: 5px solid #42b883;
    cursor: pointer;
    margin: 0px 10px 20px 10px;
    transition: transform 150ms linear;
  }

  .card-carousel--nav__left[disabled],
  .card-carousel--nav__right[disabled] {
    opacity: 0.2;
    border-color: black;
  }

  .card-carousel--nav__left {
    transform: rotate(-135deg);
  }

  .card-carousel--nav__left:active {
    transform: rotate(-135deg) scale(0.9);
  }

  .card-carousel--nav__right {
    transform: rotate(45deg);
  }

  .card-carousel--nav__right:active {
    transform: rotate(45deg) scale(0.9);
  }

  .card-carousel-cards {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translatex(0px);
  }

  .card-carousel-cards .card-carousel--card {
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    z-index: 3;
    margin-bottom: 2px;
  }

  .card-carousel-cards .card-carousel--card:first-child {
    margin-left: 0;
  }

  .card-carousel-cards .card-carousel--card:last-child {
    margin-right: 0;
  }

  .card-carousel-cards .card-carousel--card img {
    vertical-align: bottom;
    transition: opacity 150ms linear;
    user-select: none;
    width: 153px;
  }

  .card-carousel-cards .card-carousel--card img:hover {
    opacity: 0.5;
  }

  .card-carousel-cards .card-carousel--card--footer {
    border-top: 0;
  }

  .card-carousel-cards .card-carousel--card--footer p {
    padding: 3px 0;
    margin: 0;
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: 500;
    color: #2c3e50;
    user-select: none;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2) {
    font-size: 12px;
    font-weight: 300;
    padding: 6px;
    background: rgba(40, 44, 53, 0.06);
    display: inline-block;
    position: relative;
    margin-left: 4px;
    color: #666a73;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent rgba(40, 44, 53, 0.06) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):after {
    content: "";
    position: absolute;
    top: 10px;
    left: -1px;
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: white;
    box-shadow: 0px 0px 0px #004977;
  }
  .img-carousel {
      display: -webkit-flex;
      width: 120px;
      height: 80px;
      background-color: #adadad;
      background-image: url(https://placehold.it/120x80);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

  @media (max-width: 575.98px) {
    .carousel-image {
      padding-left: 0;
      padding-right: 0;
    }
    .card-carousel-wrapper .comment {
      display: inline;
      font-size: 0.75rem;
    }
    .card-carousel-wrapper .like {
      display: inline;
      font-size: 0.75rem;
    }
    .card-carousel-wrapper .favourite {
      display: inline;
      font-size: 0.75rem;
    }
    .card-carousel-wrapper {
      display: flex;
      align-items: left;
      justify-content: left;
      margin: 5px 0 20px;
      color: #666a73;
    }
    .card-carousel {
      display: flex;
      justify-content: left;
      width: 100%;
    }
    .card-carousel--overflow-container {
      overflow-x: scroll;
    }
    .card-carousel--nav__left,
    .card-carousel--nav__right {
      display: inline-block;
      width: 15px;
      height: 15px;
      padding: 10px;
      box-sizing: border-box;
      border-top: 2px solid #42b883;
      border-right: 2px solid #42b883;
      cursor: pointer;
      margin: 0 10px;
      transition: transform 150ms linear;
    }
    .card-carousel--nav__left[disabled],
    .card-carousel--nav__right[disabled] {
      opacity: 0.2;
      border-color: black;
    }
    .card-carousel--nav__left {
      transform: rotate(-135deg);
    }
    .card-carousel--nav__left:active {
      transform: rotate(-135deg) scale(0.9);
    }
    .card-carousel--nav__right {
      transform: rotate(45deg);
    }
    .card-carousel--nav__right:active {
      transform: rotate(45deg) scale(0.9);
    }
    .card-carousel-cards {
      display: flex;
      transition: transform 150ms ease-out;
      transform: translatex(0px);
    }
    .card-carousel-cards .card-carousel--card {
      margin: 0 5px;
      cursor: pointer;
      background-color: #fff;
      z-index: 3;
      margin-bottom: 2px;
      width: 120px;
    }
    .card-carousel-cards .card-carousel--card:first-child {
      margin-left: 0;
    }
    .card-carousel-cards .card-carousel--card:last-child {
      margin-right: 0;
    }
    .card-carousel-cards .card-carousel--card img {
      vertical-align: bottom;
      transition: opacity 150ms linear;
      user-select: none;
      width: 153px;
    }
    .card-carousel-cards .card-carousel--card img:hover {
      opacity: 0.5;
    }
    .card-carousel-cards .card-carousel--card--footer {
      border-top: 0;
    }
    .card-carousel-cards .card-carousel--card--footer p {
      padding: 3px 0;
      margin: 0;
      margin-bottom: 2px;
      font-size: 19px;
      font-weight: 500;
      color: #2c3e50;
      user-select: none;
    }
    .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2) {
      font-size: 12px;
      font-weight: 300;
      padding: 6px;
      background: rgba(40, 44, 53, 0.06);
      display: inline-block;
      position: relative;
      margin-left: 4px;
      color: #666a73;
    }
    .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -12px;
      width: 0;
      height: 0;
      border-color: transparent rgba(40, 44, 53, 0.06) transparent transparent;
      border-style: solid;
      border-width: 12px 12px 12px 0;
    }
    .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):after {
      content: "";
      position: absolute;
      top: 10px;
      left: -1px;
      float: left;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background: white;
      box-shadow: 0px 0px 0px #004977;
    }
    .img-carousel {
      display: -webkit-flex;
      width: 120px;
      height: 80px;
      background-color: #adadad;
      background-image: url(https://placehold.it/120x80);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .btn-upload2 {
      background-image: url("../../../static/images/upload-2.svg");
      background-repeat: no-repeat;
      display: inline;
    }
  }
</style>
