<template>
  <div class="container">
    <div class="row">
      <div class="width-60">
        <div class="title mt-2 ml-4">
          <span class="fs-sm fw-bold">{{ pinInfo.name }}</span>
          <br/>
          <!-- <span class="fs-xs">175 5th Ave, New York, NY 10010, USA</span> -->
        </div>
      </div>
      <div class="width-40" v-if="isLoggedIn">
        <div class="action float-r tc-green fs-md mt-3 mr-2">
          <a class="btn btn-eye tc-green" @click="addFavourite(pinInfo.id)">
            <i class="fas" :class="isPinFavourited === '1' ? 'fa-eye' : 'fa-eye-slash'"></i>
          </a>
          <a class="tc-green btn btn-upload2" :href="`#/upload?pinId=${pinInfo.id}&pinName=${pinInfo.name}&lng=${pinInfo.longitude}&lat=${pinInfo.latitude}`" >
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="width-100 carousel-image">
        <div class="card-carousel-wrapper">
          <div class="card-carousel">
            <div class="card-carousel--overflow-container">
              <div class="card-carousel-cards">
                <div class="card-carousel--card" v-for="(item, index) in pinInfo.sketches" :key="index">
                  <div class="card-carousel--card--header float-r fs-xs tc-green">
                    <a class="tc-green" @click="goToProfile(item.user.id)">@{{item.user.name}}</a>
                  </div>
                  <a :href="`#/sidePanel/${item.id}`">
                    <div class="img-carousel" :style="`background-image: url(${item.url});`"></div>
                  </a>

                  <div class="card-carousel--card--footer float-r mt-1">
                    <div class="comment">
                      <a :href="`#/sidePanel/${item.id}`" class="tc-blue">
                              {{item.comments.length}} <i class="fas fa-comment-alt tc-blue"></i>
                            </a>
                    </div>
                    <div class="like" v-if="!isLoggedIn">
                      <a class="tc-red pl-1">
                              {{item.likes.length}} <i class="fas fa-heart tc-red"></i>
                            </a>
                    </div>
                    <div class="like" v-else-if="isLiked(item.likes)">
                      <a class="tc-red pl-1" @click="addLike(item.id, 0)" alt="Unlike">
                              {{item.likes.length}} <i class="fas fa-heart tc-red"></i>
                            </a>
                    </div>
                    <div class="like" v-else>
                      <a class="tc-gray" @click="addLike(item.id, 1)" alt="Like">
                              {{item.likes.length}} <i class="fas fa-heart"></i>
                            </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-caroudel-feed",
    props: ["pinInfo", "isPinFavourited"],
    data() {
      return {};
    },
    created() {},
    computed: {
      ...mapState({
        isLoggedIn: state => state.authModule.isLoggedIn,
        userId: state => state.authModule.id,
      })
    },
    methods: {
      ...mapActions({
        addLikeAction: "likeModule/addLike",
        addFavouriteAction: "favouriteModule/addFavourite",
      }),

      isLiked(likes) {
        for (let index = 0; index < likes.length; index++) {
          const item = likes[index];
          if (item.userId === this.userId) {
            return true;
          }
        }

        return false
      },

      // value: 1-like , 0-unlike
      addLike(sketchId, value) {
        this.$emit("addLike", sketchId, value);
      },

      addFavourite(pinId) {
        this.$emit("addFavourite", pinId);
      },

      goToProfile(name) {
        this.$emit("goToProfile", name);
      }
    }
  };
</script>

<style scoped>
  .carousel-image {
    padding-left: 0;
    padding-right: 0;
  }

  .card-carousel-wrapper .comment {
    display: inline;
    font-size: 0.75rem;
  }

  .card-carousel-wrapper .like {
    display: inline;
    font-size: 0.75rem;
  }

  .card-carousel-wrapper .favourite {
    display: inline;
    font-size: 0.75rem;
  }

  .card-carousel-wrapper {
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 5px 0 20px;
    color: #666a73;
  }

  .card-carousel {
    display: flex;
    justify-content: left;
    width: 100%;
  }

  .card-carousel--overflow-container {
    overflow-x: scroll;
  }

  .card-carousel--nav__left,
  .card-carousel--nav__right {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid #42b883;
    border-right: 2px solid #42b883;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 150ms linear;
  }

  .card-carousel--nav__left[disabled],
  .card-carousel--nav__right[disabled] {
    opacity: 0.2;
    border-color: black;
  }

  .card-carousel--nav__left {
    transform: rotate(-135deg);
  }

  .card-carousel--nav__left:active {
    transform: rotate(-135deg) scale(0.9);
  }

  .card-carousel--nav__right {
    transform: rotate(45deg);
  }

  .card-carousel--nav__right:active {
    transform: rotate(45deg) scale(0.9);
  }

  .card-carousel-cards {
    display: flex;
    transition: transform 150ms ease-out;
    transform: translatex(0px);
  }

  .card-carousel-cards .card-carousel--card {
    margin: 0 5px;
    cursor: pointer;
    background-color: #fff;
    z-index: 3;
    margin-bottom: 2px;
    width: 120px;
  }

  .card-carousel-cards .card-carousel--card:first-child {
    margin-left: 0;
  }

  .card-carousel-cards .card-carousel--card:last-child {
    margin-right: 0;
  }

  .card-carousel-cards .card-carousel--card img {
    vertical-align: bottom;
    transition: opacity 150ms linear;
    user-select: none;
    width: 153px;
  }

  .card-carousel-cards .card-carousel--card img:hover {
    opacity: 0.5;
  }

  .card-carousel-cards .card-carousel--card--footer {
    border-top: 0;
  }

  .card-carousel-cards .card-carousel--card--footer p {
    padding: 3px 0;
    margin: 0;
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: 500;
    color: #2c3e50;
    user-select: none;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2) {
    font-size: 12px;
    font-weight: 300;
    padding: 6px;
    background: rgba(40, 44, 53, 0.06);
    display: inline-block;
    position: relative;
    margin-left: 4px;
    color: #666a73;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent rgba(40, 44, 53, 0.06) transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
  }

  .card-carousel-cards .card-carousel--card--footer p:nth-of-type(2):after {
    content: "";
    position: absolute;
    top: 10px;
    left: -1px;
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: white;
    box-shadow: 0px 0px 0px #004977;
  }

  .img-carousel {
    display: -webkit-flex;
    width: 120px;
    height: 80px;
    background-color: #adadad;
    background-image: url(https://placehold.it/200x120);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .btn-upload2 {
    background-image: url("../../../static/images/upload-2.svg");
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    background-size: 80%;
    padding: 0.7rem;
  }

  .btn-eye {
    padding-right: 0;
  }
</style>
