<template>
  <layout name="LayoutDefault">
    <section class="upload mt-1 mb-3">
      <nav class="btn-menu-close">
        <a href="#/" class="btn-menu-close-item">
          <i class="fas fa-times fa-2x tc-green"></i>
        </a>
      </nav>

      <div class="container-fluid updateInfo">
        <div class="row pb-3">
          <div class="col-md-3 title">
            <span>Edit Your Artwork</span>
          </div>
          <div class="col-md-3">
            <div class="action float-r fs-md mt-3 mr-2">
              <a @click="changeStateFileUpload('edit')" class="tc-green">
                <i class="fas fa-sync-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-md-6 bg-gray">
            <div class="row pb-5">
              <div class="col-md-12 mt-3">
                <div id="preview" class="form-group" :hidden="!urlFileUpload">
                  <img :src="urlFileUpload" />
                </div>
                <div class="form-group select-area" :hidden="urlFileUpload">
                  <b-form-file id="inputFileUpload" v-model="fileUpload" class="mt-3" plain accept="image/*" @change="onFileUploadChange" data-title="Drag and drop images here"></b-form-file>
                  <div class="row mt-5">
                    <div class="col-md-4 offset-md-4">
                      <button type="button" class="btn btn-primary btn-block btn-choose" onclick="document.getElementById('inputFileUpload').click()">Choose file</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" name="title" class="form-control" id="title" placeholder="Title your art" v-model="sketchName">
                </div>
                <div class="form-group">
                  <input type="text" name="pinName" class="form-control" id="pinName" placeholder="What is the name of the location" v-model="pinName">
                </div>

                <div class="form-group" >
                  <input type="text" name="tags" class="form-control" placeholder="Add tags" @click="showModalSelectTags">
                </div>

                <div class="row pb-5">
                  <div class="col-sm-6" v-for="tag in tagsSelected" :key="tag">
                    <b-button class="tag-item">
                      <i class="icon fas icon-tag"></i>
                      #{{ tag }}
                      <b-badge class="tag-item-close" @click="removeTag(tag)">
                        <i class="fas fa-times"></i>
                      </b-badge>
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id='map'>
                </div>
                <span class="float-r">{{ JSON.stringify(location) }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="float-r tc-green fs-sm mt-4 mb-4">
                  <span class="tc-gray fs-xs mr-5">Share to your social media</span>
                  <i class="socicon socicon-facebook mr-2"></i>
                  <i class="socicon socicon-twitter mr-2"></i>
                  <i class="socicon socicon-instagram"></i>
                </div>
              </div>
              <div class="col-md-12">
                <button type="button" class="float-r btn btn-md btn-primary btn-block btn-post-artwork" @click="updateArtwork">UPDATE ARTWORK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <b-modal ref="modalSelectTagsRef" class="modal-md" hide-footer>
        <div class="d-block">
          <div class="text-center">
            <h4>Select tags</h4>
          </div>

          <div class="row">
            <div class="col-sm-6" v-for="tag in tags" :key="tag">
              <b-button class="tag-item" :select="idTagSelected(tag)" @click="selectTag">
                {{ tag }}
              </b-button>
            </div>
          </div>

          <div class="row div-moal-action">
            <div class="col-sm-12">
              <div class="form-create-tag form-group">
                <input type="text" class="form-control" placeholder="Enter tag" v-model="tagNew" v-on:keyup.enter="addTag(tagNew)">
              </div>
            </div>
            <div class="col-sm-12">
              <b-btn size="md" class="btn btn-select-tag" @click="pressOkModalSelectTagsRef">
                OK
              </b-btn>
            </div>
          </div>
        </div>
      </b-modal>
    </section>
  </layout>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import vue2Dropzone from "vue2-dropzone";
  import "vue2-dropzone/dist/vue2Dropzone.min.css";

  export default {
    name: "upload-desktop",
    components: {
      vueDropzone: vue2Dropzone
    },
    props: ["tags"],
    data() {
      return {
        sketch: null,
        sketchId: null,
        fileUpload: null,
        urlFileUpload: null,
        location: [],
        sketchName: '',
        pinName: '',
        tagsSelected: [],
        stateFileUpload: '', //edit,crop,light
        tagNew: ''
      };
    },
    mounted() {
      this.sketchId = this.$route.params.sketchId

      this.getSketch({
          sketchId: this.sketchId
        })
        .then(data => {
          this.sketch = data;
          this.sketchName = data.name;
          this.tagsSelected = this.parseTag(data.tags);
          this.urlFileUpload = data.url;
          this.pinName = data.pinName;

          var lng = data.longitude;
          var lat = data.latitude;
          var location = {
            longitude: parseFloat(lng),
            latitude: parseFloat(lat)
          };

          this.location = [location.longitude, location.latitude];
          this.renderMap(
            location,
            `${this.classMarkerDefault} ${this.classMarkerNormal}`,
            true
          );
        })
    },
    created() {},
    computed: {
      ...mapState({
        classMarkerDefault: state => state.classMarkerDefault,
        classMarkerNormal: state => state.classMarkerNormal,
        classMarkerSelected: state => state.classMarkerSelected,
        classMarkerCurrent: state => state.classMarkerCurrent
      })
    },
    methods: {
      ...mapActions({
        initMap: "initMap",
        getSketch: "sketchModule/getById",
        addMapMarker: "addMapMarker",
        addMapMarkerOnMove: "addMapMarkerOnMove"
      }),

      onFileUploadChange(e) {
        const file = e.target.files[0];
        this.urlFileUpload = URL.createObjectURL(file);
      },

      /**
       * location = [lng, lat]
       */
      changeLocation(location) {
        this.location = location;
      },

      renderMap(location, classMarker, interactive) {
        this.initMap({
            container: "map",
            center: [location.longitude, location.latitude],
            zoom: 15,
            interactive: interactive,
            isAddSearch: true
          })
          .then(map => {
            this.addMapMarker({
                map: map,
                marker: {
                  name: 'updateSketchMarker',
                  class: classMarker,
                  location: [location.longitude, location.latitude],
                  event: () => {}
                }
              })
              .then(marker => {
                this.addMapMarkerOnMove({
                  map: map,
                  marker: marker,
                  callback: this.changeLocation
                });
              });
          });
      },

      updateArtwork() {
        this.$emit('updateArtwork', {
          file: this.fileUpload,
          latitude: this.location[1],
          longitude: this.location[0],
          sketchName: this.sketchName,
          tags: this.tagsSelected,
          pinName: this.pinName,
          sketchId: this.sketch.id,
          fileUrl: this.sketch.url
        })
      },

      changeStateFileUpload(stateFileUpload) {
        this.stateFileUpload = stateFileUpload;

        if (stateFileUpload === 'edit') {
          this.urlFileUpload = this.urlFileUpload ? null : this.sketch.url;
        }
      },

      parseTag(data) {
        var result = [];
        data.forEach(tag => {
          result.push(tag.tag);
        });

        return result;
      },


      showModalSelectTags() {
        this.$refs.modalSelectTagsRef.show();
      },

      selectTag(event) {
        var target = event.target;
        var tag = target.innerText;
        var selected = this.idTagSelected(tag);
        if (selected) {
          this.removeTag(tag);
        } else {
          this.addTag(tag);
        }
      },

      addTag(tag) {
        tag = tag.trim();
        this.$emit('addTag', tag);
        var isExist = this.tagsSelected.findIndex(item => item == tag);
        if (isExist === -1) {
          this.tagsSelected.push(tag);
        }
        this.tagNew = '';
      },

      removeTag(tag) {
        this.tagsSelected.splice(this.tagsSelected.findIndex(item => item == tag), 1);
      },

      idTagSelected(tag) {
        var isExist = this.tagsSelected.findIndex(item => item == tag);
        return isExist === -1 ? false : true;
      },

      pressOkModalSelectTagsRef() {
        if (this.tagNew !== '') {
          this.addTag(this.tagNew);
        }

        this.$refs.modalSelectTagsRef.hide();
      }
    }
  };
</script>

<style scoped>
  .full-size-center {
    min-height: 500px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .full-width {
    width: 100%;
  }

  .upload {
    width: 100%;
    height: 100%;
  }

  .upload .container {
    width: 100%;
    height: 100%;
  }

  .btn-upload {
    border-radius: 0;
    background-color: #f1c800;
    font-weight: bold;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-choose {
    border-radius: 0;
    background-color: #f1c800;
    font-weight: bold;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-menu-close {
    top: 40px;
    position: fixed;
    right: 50px;
    z-index: 9;
  }

  .btn-menu-close-item {
    display: block;
    position: relative;
    transition: all 0.1s ease-out;
    color: #000000;
  }

  .vue-dropzone {
    border: 1px solid #e5e5e5;
  }

  .updateInfo {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .updateInfo .title {
    padding-top: 24px;
    font-weight: bold;
    color: #ACACAC;
    font-size: 15px;
  }

  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }

  input[type="text"]:focus,
  select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #map {
    height: 200px;
    background-color: #5a5a5a;
  }

  .btn-post-artwork {
    width: 50%;
    border-radius: 0;
    background-color: #f1c800;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .select-area .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 20em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px solid currentColor;
  }

  .select-area .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 15px;
    min-height: 100%;
    line-height: 2em;
    padding-top: 12em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    background: url(/static/images/drag-and-drop-icon.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 300px;
  }

  .tag-item {
    background-color: #ffffff;
    color: #000000;
    border-color: #179400;
    border-radius: 0;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    padding: .1rem .5rem;
  }

  .tag-item[select=true] {
    background-color: #179400 !important;
    border-color: #179400 !important;
  }

  .tag-item-close {
    background-color: transparent;
    color: #000000;
    float: right;
    top: 3px;
  }

  .btn-select-tag {
    background-color: #487629;
    color: #000000;
    width: 100px;
    font-weight: bold;
    border-radius: 0;
  }

  .div-all-tags {
    height: 200px;
    overflow-y: scroll;
  }

  .div-moal-action {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
