<template>
  <section section-upload-mobile class="full-size-window">
    <c-header-mobile :title="title" @headerBackEvent="headerBackEvent"></c-header-mobile>

    <div class="container div-update">
      <div class="row full-height-window">

        <div class="col-sm-12 div-update-step1" :class="step == 1 ? 'active' : ''">
          <div class="row">
            <div id='map'>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group pt-3" @click="changeStep(3)">
                <input type="text" name="tags" class="form-control" placeholder="Update tags" disabled>
              </div>
            </div>
            <div class="col-sm-12 div-footer">
              <div class="row">
                <div class="col-sm-12 pb-3">
                  <div class="row">
                    <div class="col-sm-6" v-for="tag in tagsSelected" :key="tag">
                      <b-button class="tag-item">
                        <i class="icon fas icon-tag"></i>
                        # {{ tag }}
                        <b-badge class="tag-item-close" @click="removeTag(tag)">
                          <i class="fas fa-times"></i>
                        </b-badge>
                      </b-button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="float-r btn btn-md btn-primary btn-block btn-post-artwork" @click="changeStep(2)">NEXT PAGE</button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-12 div-update-step2" :class="step == 2 ? 'active' : ''">
          <div class="row">
            <div class="col-sm-12 mt-3">
              <div class="row div-">
                <div class="col-sm-10 div-select-image">
                  <div id="preview" class="form-group" :hidden="!urlFileUpload">
                    <img :src="urlFileUpload" />
                  </div>
                  <div class="form-group select-area bg-gray" :hidden="urlFileUpload">
                    <b-form-file id="inputFileUpload" v-model="fileUpload" plain accept="image/*" @change="onFileUploadChange" data-title="Select image"></b-form-file>
                  </div>
                </div>
                <div class="col-sm-2 div-state-image">
                  <div class="form-group">
                    <a @click="changeStateFileUpload('edit')" class="tc-green">
                      <i class="fas fa-sync-alt"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="text" name="title" class="form-control" id="title" placeholder="Title your art" v-model="sketchName">
              </div>
              <div class="form-group">
                <input type="text" name="pinName" class="form-control" id="pinName" placeholder="What is the name of the location" v-model="pinName">
              </div>
              <div class="form-group">
                <input type="text" name="tags" class="form-control tc-green" id="tags" :value="convertTagsToString()" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 div-footer">
              <div class="row">
                <div class="col-sm-12">
                  <div class="float-r tc-green fs-sm mt-4 mb-4">
                    <span class="tc-gray fs-xs mr-3">Share to your social media</span>
                    <i class="socicon socicon-facebook mr-2"></i>
                    <i class="socicon socicon-twitter mr-2"></i>
                    <i class="socicon socicon-instagram"></i>
                  </div>
                </div>
                <div class="col-sm-12">
                  <button type="button" class="float-r btn btn-md btn-primary btn-block btn-post-artwork" @click="updateArtwork">UPLOAD ART</button>
                </div>
              </div>
            </div>
          </div>
        </div>

         <div class="col-sm-12 div-select-tag" :class="step == 3 ? 'active' : ''">
          <div class="row">
            <div class="col-sm-6" v-for="tag in tags" :key="tag">
              <b-button class="tag-item" :select="idTagSelected(tag)" @click="selectTag">
                {{ tag }}
              </b-button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 div-footer">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-create-tag form-group">
                    <input type="text" class="form-control" placeholder="Enter tag" v-model="tagNew">
                  </div>
                  <button type="button" class="btn btn-create-tag" @click="addTag(tagNew)"></button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="float-r btn btn-md btn-primary btn-block btn-post-artwork" @click="pressSelectTag">SELECT TAGS</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import vue2Dropzone from "vue2-dropzone";
  import "vue2-dropzone/dist/vue2Dropzone.min.css";
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";

  export default {
    name: "upload-desktop",
    components: {
      cHeaderMobile,
      vueDropzone: vue2Dropzone
    },
    props: ["tags"],
    data() {
      return {
        title: 'UPDATE SKETCH',
        step: 1,
        sketch: null,
        sketchId: null,
        fileUpload: null,
        urlFileUpload: null,
        location: [],
        sketchName: '',
        pinName: '',
        tagsSelected: [],
        stateFileUpload: '', //edit,crop,light
        tagNew: ''
      };
    },
    mounted() {
      this.sketchId = this.$route.params.sketchId

      this.getSketch({
          sketchId: this.sketchId
        })
        .then(data => {
          this.sketch = data;
          this.sketchName = data.name;
          this.tagsSelected = this.parseTag(data.tags);
          this.urlFileUpload = data.url;
          this.pinName = data.pinName;

          var lng = data.longitude;
          var lat = data.latitude;
          var location = {
            longitude: parseFloat(lng),
            latitude: parseFloat(lat)
          };

          this.location = [location.longitude, location.latitude];
          this.renderMap(
            location,
            `${this.classMarkerDefault} ${this.classMarkerNormal}`,
            true
          );
        })
    },
    created() {},
    computed: {
      ...mapState({
        classMarkerDefault: state => state.classMarkerDefault,
        classMarkerNormal: state => state.classMarkerNormal,
        classMarkerSelected: state => state.classMarkerSelected,
        classMarkerCurrent: state => state.classMarkerCurrent
      })
    },
    methods: {
      ...mapActions({
        initMap: "initMap",
        getSketch: "sketchModule/getById",
        addMapMarker: "addMapMarker",
        addMapMarkerOnMove: "addMapMarkerOnMove"
      }),

      onFileUploadChange(e) {
        const file = e.target.files[0];
        this.urlFileUpload = URL.createObjectURL(file);
      },

      /**
       * location = [lng, lat]
       */
      changeLocation(location) {
        this.location = location;
      },

      renderMap(location, classMarker, interactive) {
        this.initMap({
            container: "map",
            center: [location.longitude, location.latitude],
            zoom: 15,
            interactive: interactive,
            isAddSearch: true
          })
          .then(map => {
            this.addMapMarker({
                map: map,
                marker: {
                  name: 'updateSketchMarker',
                  class: classMarker,
                  location: [location.longitude, location.latitude],
                  event: () => {}
                }
              })
              .then(marker => {
                this.addMapMarkerOnMove({
                  map: map,
                  marker: marker,
                  callback: this.changeLocation
                });
              });
          });
      },

      updateArtwork() {
        this.$emit('updateArtwork', {
          file: this.fileUpload,
          latitude: this.location[1],
          longitude: this.location[0],
          sketchName: this.sketchName,
          tags: this.tagsSelected,
          pinName: this.pinName,
          sketchId: this.sketch.id,
          fileUrl: this.sketch.url
        })
      },

      changeStateFileUpload(stateFileUpload) {
        this.stateFileUpload = stateFileUpload;

        if (stateFileUpload === 'edit') {
          this.urlFileUpload = this.urlFileUpload ? null : this.sketch.url;
        }
      },

      parseTag(data) {
        var result = [];
        data.forEach(tag => {
          result.push(tag.tag);
        });

        return result;
      },

      headerBackEvent() {
        if (this.step == 3){
          this.changeStep(1);
        } else if (this.step == 2){
          this.changeStep(1);
        } else {
          this.$router.go(-1)
        }
      },

      changeStep(step) {
        if (step == 3){
          this.title = "SELECT TAGS";
        } else if (step == 2){
          this.title = "";
        } else {
          this.title = "URBAN SKETCH";
        }

        this.step = step;
      },

      convertTagsToString() {
        return "Tags: #" + this.tagsSelected.join(", #")
      },

      selectTag(event) {
        var target = event.target;
        var tag = target.innerText;
        var selected = this.idTagSelected(tag);
        if (selected) {
          this.removeTag(tag);
        } else {
          this.addTag(tag);
        }
      },

      addTag(tag) {
        this.$emit('addTag', tag);
        var isExist = this.tagsSelected.findIndex(item => item == tag);
        if (isExist === -1) {
          this.tagsSelected.push(tag);
        }
        this.tagNew = '';
      },

      removeTag(tag) {
        this.tagsSelected.splice(this.tagsSelected.findIndex(item => item == tag), 1);
      },

      idTagSelected(tag) {
        var isExist = this.tagsSelected.findIndex(item => item == tag);
        return isExist === -1 ? false : true;
      },

      pressSelectTag() {
        if (this.tagNew !== '') {
          this.addTag(this.tagNew);
        }

        this.changeStep(1);
      }
    }
  };
</script>

<style scoped>
  .full-size-center {
    min-height: 500px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .btn-upload {
    border-radius: 0;
    background-color: #f1c800;
    font-weight: bold;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-choose {
    border-radius: 0;
    background-color: #f1c800;
    font-weight: bold;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-menu-close {
    top: 40px;
    position: fixed;
    right: 50px;
    z-index: 9;
  }

  .btn-menu-close-item {
    display: block;
    position: relative;
    transition: all 0.1s ease-out;
    color: #000000;
  }

  .vue-dropzone {
    border: 1px solid #e5e5e5;
  }

  .div-update {
    padding-top: 60px;
    height: 100%;
  }

  .div-update-step1 {
    display: none;
  }

  .div-update-step1.active {
    display: block;
  }

  .div-update-step2 {
    display: none;
  }

  .div-update-step2.active {
    display: block;
  }

  .div-select-tag {
    display: none;
  }

  .div-select-tag.active {
    display: block;
  }

  .div-footer {
    position: absolute;
    bottom: 2rem;
  }

  .div-update .title {
    padding-top: 24px;
    font-weight: bold;
    color: #ACACAC;
    font-size: 15px;
  }

  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }

  input[type="text"]:focus,
  select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #map {
    width: 100%;
    height: 300px;
    background-color: #5a5a5a;
  }

  .btn-post-artwork {
    padding: .6rem;
    font-family: Montserrat-Bold, sans-serif;
    width: 100%;
    border-radius: 0;
    background-color: #FFDD00;
    border: none;
    color: #505050;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .select-area .form-control-file {
    position: relative;
    width: 100%;
    height: 200px;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px solid currentColor;
  }

  .select-area .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 15px;
    min-height: 100%;
    line-height: 2em;
    padding-top: 9em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    background: url(/static/images/drag-and-drop-icon.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    height: 200px;
  }

  .tags-container-badges {
    float: left;
    width: 100%;
  }

  .tag-item {
    background-color: #ffffff;
    color: #000000;
    border-color: #179400;
    border-radius: 0;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    padding: .1rem .5rem;
  }

  .tag-item[select=true] {
    background-color: #179400 !important;
    border-color: #179400 !important;
  }

  .tag-item-close {
    background-color: transparent;
    color: #000000;
    float: right;
    top: 3px;
  }

  .btn-secondary.focus, .btn-secondary:focus {
    box-shadow: none;
  }

  .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
  }

  .div-select-image {
    width: 90%;
  }

  .div-state-image {
    width: 10%;
  }

  .div-state-image .form-group {
    position: absolute;
    bottom: 0px;
  }

  .form-create-tag {
    width: 90%;
  }
  .btn-create-tag {
    position: absolute;
    right: 1rem;
    bottom: 18px;
    background-image: url(/static/images/back-arrow.svg);
    background-repeat: no-repeat;
    height: 80%;
    background-color: transparent;
  }

  @media (max-width: 575.98px) {
    .col-sm-6 {
      width: 50%;
    }
  }
</style>
