<template>
  <section section-upload class="full-size-window">
    <upload-edit-mobile v-if="isMobileSize"
      :tags="tags"
      @updateArtwork="updateArtwork"
      @addTag="addTag"
    ></upload-edit-mobile>
    <upload-edit-desktop v-else
      :tags="tags"
      @updateArtwork="updateArtwork"
      @addTag="addTag"
    ></upload-edit-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import UploadEditMobile from './UploadEdit.mobile.vue'
  import UploadEditDesktop from './UploadEdit.desktop.vue'

  export default {
    name: "upload-edit",
    components: {
      UploadEditMobile,
      UploadEditDesktop
    },
    data() {
      return {
        tags: [],
      };
    },
    mounted() {
    },
    created() {
      this.loadAllTags()
        .then(data => {
          data.forEach(tag => {
            this.tags.push(tag.tag)
          });
        })
        .catch(error => {
          this.$Notification.error('Get all tags', error.message || error);
        })
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        userId: state => state.authModule.id,
      })
    },
    methods: {
      ...mapActions({
        uploadFileAction: "uploadFile",
        updateSketch: "sketchModule/updateSketch",
        loadAllTags: "tagModule/loadAll",
        updateTag: "tagModule/updateTag",
        getCurrentUser: "authModule/getCurrentUser"
      }),

      uploadFile(file) {
        return new Promise((resolve, reject) => {
          this.uploadFileAction({
              file: file
            })
            .then(data => {
              this.$Notification.notifyTemplateV1({
                  text: 'Image has been uploaded',
                  data: {
                      icon: 'fas fa-image',
                      clickIcon: () => {},
                      clickName: '',
                      href: '#',
                      click: () => {}
                  }
              });
              return resolve(data);
            })
            .catch(error => {
              this.$Notification.error("Upload", error.message || error);
              this.$Notification.warn('Upload', 'Please try again');
              return reject(error);
            });
        })
      },

      /**
       * dataUpdateArtwork {latitude,longitude,sketchName,tags,pinName,sketchId,fileUrl}
       */
      onUpdateArtwork(dataUpdateArtwork) {
        this.updateSketch({
            sketch: {
              userId: this.userId,
              url: dataUpdateArtwork.fileUrl,
              latitude: dataUpdateArtwork.latitude,
              longitude: dataUpdateArtwork.longitude,
              name: dataUpdateArtwork.sketchName,
              sketchId: dataUpdateArtwork.sketchId,
              pinName: dataUpdateArtwork.pinName
            }
          })
          .then(data => {
            var bodayAddTag = {
              sketchId: data,
              tags: dataUpdateArtwork.tags
            };

            this.updateTag(bodayAddTag)
              .then(data => {
                this.$Notification.notifyTemplateV1({
                  text: "Artwork uploaded",
                  data: {
                    icon: "fas fa-eye",
                    clickIcon: () => {},
                    clickName: "VIEW ART",
                    href: `#/sidePanel/${bodayAddTag.sketchId}`,
                    click: () => {}
                  }
                });
                this.getCurrentUser();
                window.location = "#/";
              })
              .catch(error => {
                this.$Notification.error("Update tags", error.message || error);
                this.$Notification.warn("Update tags", "Please try again");
              });
          })
      },

      /**
       * dataUpdateArtwork {file,latitude,longitude,sketchName,tags,sketchId,fileUrl}
       */
      updateArtwork(dataUpdateArtwork) {
        if (dataUpdateArtwork.file) {
          this.uploadFile(dataUpdateArtwork.file).then(data => {
            dataUpdateArtwork.fileUrl = data;
            this.onUpdateArtwork(dataUpdateArtwork);
          });
        } else {
          this.onUpdateArtwork(dataUpdateArtwork);
        }
      },

      addTag(tag) {
        var isExist = this.tags.findIndex(item => item == tag);
        if (isExist === -1) {
          this.tags.push(tag);
        }
      }
    }
  };
</script>

<style scoped>
</style>
