<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'profile' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Profile</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info">
        <div class="cardheader" :style="`background-image: url(${backgroundHeader});`">
        </div>
        <div class="container avatar">
          <div class="row">
            <div class="col-sm-12">
              <img alt="" :src="user.imageUrl">
            </div>
          </div>
        </div>
        <!-- <div class="title">
            <span>12.000 artpoints |</span>
            <span>450 feeders |</span>
            <span>78 feeding</span>
          </div> -->
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="tc-green">{{user.name}}</h5>
              <!-- <p class="profile-desc">
                I enjoy painting mostly, and I'm also a big fan of cubes
                <br/>
                <span class="tc-green">Discipline</span> | cubism, painting
              </p> -->
            </div>
            <!-- <div class="profile-socicon col-sm-12">
                <p class="tc-blue">www.mywebsite.com</p>
                <i class="socicon socicon-facebook mr-2"></i>
                <i class="socicon socicon-twitter mr-2"></i>
                <i class="socicon socicon-instagram"></i>
              </div> -->
          </div>
          <div class="row pt-3">
            <!-- <div class="col-sm-3 div-profile-btn">
                <a class="btn btn-primary btn-sm btn-block btn-message">Message</a>
              </div> -->
            <div class="col-sm-3 div-profile-btn" v-if="isLoggedIn">
              <a class="btn btn-primary btn-sm btn-block btn-unfollow" @click="updateFollowing(0)" v-if="isFollowing">Unfollow</a>
              <a class="btn btn-primary btn-sm btn-block btn-follow" @click="updateFollowing(1)" v-else>Follow</a>
            </div>
          </div>
          <!-- <div class="row pt-3">
              <div class="col-sm-12 profile-socicon">
                <a class="tc-gray">Report |</a>
                <a class="tc-gray">Block</a>
              </div>
            </div> -->
        </div>
        <div class="container gallery mt-5">
          <div class="row t-left mb-1">
            <div class="col-md-12">
              <h5>Gallery</h5>
            </div>
          </div>

          <div class="row">
            <div class="gallery-item col-sm-6 pb-3" v-for="(item, index) in user.sketches" :key="index">
              <a class="gallery-item-link" :href="`#/sidePanel/${item.id}`">
                <img class="gallery-item-img rounded float-left img-thumbnail" :src="item.url">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-profile",
    data() {
      return {
        backgroundHeader: '/static/images/cover-photo.png',
        user: {},
        isFollowing: false,
        followingUserId: ''
      };
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'profile'});
      }, 100);
      this.onRefresh();
    },
    computed: {
      ...mapState({
        isLoggedIn: state => state.authModule.isLoggedIn,
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        currentUserId: state => state.authModule.id
      })
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
        updateFollowAction: "followModule/updateFollow",
        isFollowingAction: "followModule/isFollowing",
        getUserInfo: "userModule/getUserInfo",
      }),

      onRefresh() {
        this.backgroundHeader = '/static/images/cover-photo.png';
        this.followingUserId = this.$route.params.userId;

        this.getUserInfo({
            userId: this.followingUserId
          })
          .then(data => {
            this.user = data;
            if (data.sketches && data.sketches.length) {
              this.backgroundHeader = data.sketches[0].url;
            }

            if (this.isLoggedIn)
            {
              this.isFollowingAction({
                followerUserId: this.currentUserId,
                followingUserId: this.followingUserId
              })
              .then(data => {
                this.isFollowing = data;
              })
              .catch(error => {
                this.$Notification.error("Check following", error.message || error);
              });
            }

          })
          .catch(error => {
            this.$Notification.error("Get user", error.message || error);
          });
      },

      updateFollowing(value) {
        this.updateFollowAction({
          userId: this.currentUserId,
          data: {
            followingUserId: this.followingUserId,
            value: value,
          }
        })
        .then(data => {
          this.onRefresh();
          if (value == 1) {
            this.$Notification.notifyTemplateV1({
              text: 'You Followed',
              data: {
                  icon: 'fas fa-bookmark',
                  clickIcon: () => {},
                  clickName: '',
                  href: '#',
                  click: () => {}
              }
            });
          } else {
            this.$Notification.notifyTemplateV1({
              text: 'You Unfollowed',
              data: {
                  icon: 'fas fa-bookmark',
                  clickIcon: () => {},
                  clickName: '',
                  href: '#',
                  click: () => {}
              }
            });
          }

        })
        .catch(error => {
          this.$Notification.error("Update follow", error.message || error);
        })
      },
    },

    watch: {
      '$route' (to, from) {
        this.onRefresh();
      }
    }
  };
</script>

<style scoped>
  .list-group-item {
    position: relative;
    display: block;
    padding: .2rem 0.5rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
  }

  .div-edit-profile {
    padding-top: 90px;
  }

  .btn-edit-profile {
    color: #464646;
    font-size: 15px;
  }

  .div-account {
    padding-top: 90px;
  }

  .btn-account {
    color: #464646;
    font-size: 15px;
  }

  .sidebar-wrapper .card.hovercard .avatar img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.52), 0px 0px 0px 0px rgba(0, 0, 0, 0.65);
  }

  .sidebar-wrapper .card.hovercard .info .title {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1;
    color: #487629;
    vertical-align: middle;
    padding-top: 10px;
    text-align: center;
  }

  .sidebar-wrapper .card.hovercard .avatar {
    position: relative;
    top: -75px;
    margin-bottom: -75px;
    text-align: center;
  }

  .sidebar-wrapper .sidebar-wrapper-header2 {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .sidebar-wrapper .sidebar-wrapper-header2-title {
    float: left;
    padding-top: 15px;
    padding-left: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 70%;
    text-align: center;
  }

  .sidebar-wrapper .card.hovercard {
    position: relative;
    overflow: hidden;
    text-align: unset;
    background: #FFF;
    border: none;
    height: 100%;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0;
  }

  .gallery img {
    width: 100%;
  }

  .btn-message {
    border-radius: 0;
    background-color: #000dab;
    font-weight: bold;
    border: none;
    color: #FFF !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-follow {
    border-radius: 0;
    background-color: #487629;
    font-weight: bold;
    border: none;
    color: #FFF !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-unfollow {
    border-radius: 0;
    background-color: #000dab;
    font-weight: bold;
    border: none;
    color: #FFF !important;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .sidebar-wrapper .card.hovercard .cardheader {
    height: 250px;
    background-image: url('/static/images/cover-photo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .gallery-item-img {
    min-height: 70px;
  }

  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .info {
      overflow-y: scroll
    }
    .sidebar-wrapper .card.hovercard .cardheader {
      height: 170px;
    }
    .div-edit-profile {
      width: 35%;
      padding-top: 60px;
      padding-right: 5px;
    }
    .div-account {
      width: 35%;
      padding-top: 60px;
      padding-left: 5px;
    }
    .div-avatar {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
    }
    .sidebar-wrapper .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
    }
    .sidebar-wrapper .card.hovercard .avatar {
      top: -50px;
      margin-bottom: -50px;
    }
    .btn-edit-profile {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .btn-account {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .sidebar-wrapper .card.hovercard .info .title {
      font-size: 0.75rem;
    }
    .profile-name,
    .profile-desc,
    .profile-socicon {
      font-size: 0.75rem;
    }
    .gallery-item {
      width: 50%;
    }
    .btn-delete-sketch i {
      font-size: 1em;
    }
    .div-profile-btn {
      width: 30%;
      padding-right: 0;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 135px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
