<template>
  <section section-notifications class="full-size-window">
    <notifications-mobile v-if="isMobileSize"></notifications-mobile>
    <notifications-desktop v-else></notifications-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import NotificationsMobile from "./Notifications.mobile.vue"
  import NotificationsDesktop from "./Notifications.desktop.vue"

  export default {
    name: "notifications",
    components: {
      NotificationsMobile,
      NotificationsDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
