<template>
  <layout name="LayoutMap">
    <c-notifications></c-notifications>
  </layout>
</template>

<script>
  import cNotifications from '../../components/c-notifications/cNotifications.vue'

  export default {
    name: "account-menu-desktop",
    components: {
      cNotifications
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
