<template>
  <section section-account-menu-mobile class="full-size-window">
    <c-header-mobile title="Notifications" @headerBackEvent="$router.push('/currentFeed')"></c-header-mobile>
    <c-notifications></c-notifications>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cNotifications from '../../components/c-notifications/cNotifications.vue'

  export default {
    name: "account-menu-mobile",
    components: {
      cHeaderMobile,
      cNotifications
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
