<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'editCurrentFeed' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/currentFeed">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Edit Feed</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info">
        <div class="container full-height-window">

          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="row header-title">
                <div class="col-sm-7">
                  <div class="header-title-left">
                    <h4 class="mt-4 fw-bold">Followed Artists</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" v-for="(item, index) in followedUsers" :key="index">
                  <b-button class="tag-item" :class="item.value == 0 ? 'bg-gray' : ''">
                    <i class="icon fas tag-item-type icon-user"></i> {{ item.followerUsername }}
                    <b-badge class="tag-item-close" @click="item.value = item.value == 0 ? 1 : 0">
                      <i class="fas fa-times"></i>
                    </b-badge>
                  </b-button>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="row header-title">
                <div class="col-sm-7">
                  <div class="header-title-left">
                    <h4 class="mt-4 fw-bold">Followed Locations</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6" v-for="(item, index) in followedLocations" :key="index">
                  <b-button class="tag-item" :class="item.value == 0 ? 'bg-gray' : ''">
                    <i class="icon fas tag-item-type icon-sketch"></i>
                    <span class="tag-item-text">{{ item.name }}</span>
                    <b-badge class="tag-item-close" @click="item.value = item.value == 0 ? 1 : 0">
                      <i class="fas fa-times"></i>
                    </b-badge>
                  </b-button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 div-footer">
              <button type="button" class="float-r btn btn-md btn-primary btn-block btn-save-change" @click="updateFeedSettings">SAVE CHANGE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import Notification from "../../utils/notification.js";

  export default {
    name: "c-feed",
    data() {
      return {
        followedUsers: [],
        followedLocations: []
      };
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'editCurrentFeed'});
      }, 100);
      this.onRefresh();
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        userId: state => state.authModule.id,
      })
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
        backLeftSlider: "backLeftSlider",
        loadAllFeedSetting: "feedModule/loadAllFeedSetting",
        updateFeedSettingsAction: "feedModule/updateFeedSettings"
      }),

      onRefresh() {
        this.loadAllFeedSetting({
            userId: this.userId
          })
          .then(data => {
            this.followedUsers = data.followedUsers;
            this.followedLocations = data.followedLocations;
          })
          .catch(error => {
            this.$Notification.error("Get all feed setting", error.message || error);
          });
      },

      updateFeedSettings() {
        this.updateFeedSettingsAction({
            userId: this.userId,
            followedUsers: this.followedUsers,
            followedLocations: this.followedLocations
          })
          .then(data => {
            this.$Notification.notifyTemplateV1({
                text: 'Feed Settings Updates',
                data: {
                    icon: 'fas fa-eye',
                    clickIcon: () => {},
                    clickName: '',
                    href: '#',
                    click: () => {}
                }
            });
            this.onRefresh();
          })
          .catch(error => {
            this.$Notification.error("Update feed settings", error.message || error);
          });
      },
    }
  };
</script>

<style scoped>
  .info {
    width: 100%;
    height: 100%;
  }

  .card.hovercard {
    text-align: left;
  }

  .tag-item {
    background-color: #ffffff;
    color: #000000;
    border-color: #179400;
    border-radius: 0;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    height: 40px;
  }

  .tag-item-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 80%;
  }

  .tag-item-close {
    background-color: transparent;
    float: right;
    color: #179400;
    font-size: 1rem;
    padding: 0;
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .tag-item-type {
    float: left;
    margin-top: 2px;
    margin-right: 4px;
  }

  .btn-save-change {
    padding: .6rem;
    font-family: Montserrat-Bold, sans-serif;
    width: 100%;
    border-radius: 0;
    background-color: #FFDD00;
    border: none;
    color: #505050;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 0;
  }

  @media (max-width: 575.98px) {
    .col-sm-6 {
      width: 50%;
    }
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .div-edit-profile {
      width: 35%;
      padding-top: 60px;
      padding-right: 5px;
    }
    .div-account {
      width: 35%;
      padding-top: 60px;
      padding-left: 5px;
    }
    .div-avatar {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
    }
    .sidebar-wrapper .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
    }
    .sidebar-wrapper .card.hovercard .avatar {
      top: -50px;
      margin-bottom: -50px;
    }
    .btn-edit-profile {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .btn-account {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .sidebar-wrapper .card.hovercard .info .title {
      font-size: 0.75rem;
    }
    .profile-name,
    .profile-desc,
    .profile-socicon {
      font-size: 0.75rem;
    }
    .gallery-item {
      width: 50%;
    }
    .btn-delete-sketch i {
      font-size: 1em;
    }
    .div-go-to-notifications {
      width: 60%;
      font-size: .75rem;
    }
    .div-go-to-edit-feed {
      width: 40%;
      font-size: .75rem;
    }
    .tag-item {
      font-size: .75rem;
      height: 30px;
    }
    .tag-item-close[data-v-ecd6b51a] {
      right: 20px;
      top: 10px;
    }
    .div-footer {
      position: absolute;
      bottom: 2rem;
    }
    .header-title-left h4 {
      font-size: 1rem;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 125px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
    .div-footer {
      padding-bottom: 2rem;
      padding-top: 3rem;
    }
  }
</style>
