<template>
  <layout name="LayoutMap">
    <div></div>
  </layout>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "home",
    components: {
    },
    data() {
      return {};
    },
    created() {},
    computed: {
      ...mapState({
        nameLeftSlider: state => state.nameLeftSlider,
        isLoggedIn: state => state.authModule.isLoggedIn,
      })
    },
    methods: {
      ...mapActions({
        addLocation: "addLocation",
        setLeftSliderName: "setLeftSliderName",
        getCurrentUser: "authModule/getCurrentUser"
      }),

      test() {
        this.$Notification.notifyTemplateV2({
          type: 'warn',
          title: 'title',
          text: 'Added to feedLorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore'
        });
      },

    }
  };
</script>

<style scoped>
  .btn-menu-test {
    top: 60px;
    position: fixed;
    margin: 1em;
    right: 500px;
    z-index: 9;
  }

  .btn-menu-test-item {
    padding-top: 15px;
    text-align: center;
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    display: block;
    width: 70px;
    height: 70px;
    margin: 20px auto 0;
    position: relative;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    background: #007506;
    color: #000000;
  }
</style>
