<template>
  <section>
    <home-mobile v-if="isMobileSize"></home-mobile>
    <home-desktop v-else></home-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import HomeMobile from "./Home.mobile.vue";
  import HomeDesktop from "./Home.desktop.vue";

  export default {
    name: "home",
    components: {
      HomeMobile,
      HomeDesktop,
    },
    data() {
      return {};
    },
    created() {},
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {
    }
  };
</script>

<style scoped>
</style>
