<template>
  <section>
    <c-header-mobile title="URBAN SKETCH" hideBack='false'></c-header-mobile>
    <c-menu></c-menu>

    <c-home-mapbox></c-home-mapbox>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cMenu from "../../components/c-menu/cMenu.vue";
  import cHomeMapbox from "../../components/c-home-mapbox/cHomeMapbox.vue";

  export default {
    name: "home-mobile",
    components: {
      cHeaderMobile,
      cMenu,
      cHomeMapbox
    },
    data() {
      return {};
    },
    created() {},
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>
</style>
