<template>
  <section section-profile-mobile>
    <c-header-mobile title="My Profile" @headerBackEvent="$router.push('/')"></c-header-mobile>
    <c-profile></c-profile>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cProfile from '../../components/c-profile/cProfile.vue'

  export default {
    name: "profile-mobile",
    components: {
      cHeaderMobile,
      cProfile
    },
    data() {
      return {};
    },
    created() {},
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
