<template>
  <layout name="LayoutMap">
    <c-profile></c-profile>
  </layout>
</template>

<script>
  import cProfile from '../../components/c-profile/cProfile.vue'

  export default {
    name: "profile-desktop",
    components: {
      cProfile
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
