<template>
  <section>
    <profile-mobile v-if="isMobileSize"></profile-mobile>
    <profile-desktop v-else></profile-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import ProfileMobile from "./Profile.mobile.vue"
  import ProfileDesktop from "./Profile.desktop.vue"

  export default {
    name: "profile",
    components: {
      ProfileMobile,
      ProfileDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
