.marker-red {
  background-image: url('../../static/images/red-marker@sm.png');
}

.marker-white {
  background-image: url('../../static/images/white-marker@sm.png');
}

.marker-you-are-here {
  background-image: url('../../static/images/you-are-here.png');
}

.search-container .v-select .open-indicator {
  background-image: url('../../static/images/search.svg');
}
