<template>
  <section section-followers class="full-size-window">
    <followers-mobile v-if="isMobileSize"></followers-mobile>
    <followers-desktop v-else></followers-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import FollowersMobile from "./Followers.mobile.vue"
  import FollowersDesktop from "./Followers.desktop.vue"

  export default {
    name: "followers",
    components: {
      FollowersMobile,
      FollowersDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
