<template>
  <section section-followers-mobile class="full-size-window">
    <c-header-mobile title="Followers" @headerBackEvent="$router.push('/accountMenu')"></c-header-mobile>
    <c-followers></c-followers>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cFollowers from '../../components/c-followers/cFollowers.vue'

  export default {
    name: "followers-mobile",
    components: {
      cHeaderMobile,
      cFollowers
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
