<template>
  <layout name="LayoutMap">
    <c-followers></c-followers>
  </layout>
</template>

<script>
  import cFollowers from '../../components/c-followers/cFollowers.vue'

  export default {
    name: "followers-desktop",
    components: {
      cFollowers
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
