<template>
  <div id="app">
    <component :is="isMobileSize ? 'LayoutDefault' : layoutName">
      <router-view/>
    </component>
    <loading :active.sync="isLoading" :is-full-page="true" background-color="#495057" loader="loader" />
    <notifications class="notification-template-normal" group="notification-template-normal" animation-type="velocity" :speed="500" :duration="5000" position="top right" />
    <notifications class="notification-template-v1" group="notification-template-v1" animation-type="velocity" :duration="5000" width="400" position="top right">
      <template slot="body" slot-scope="props">
            <div class="template-v1">
              <div class="template-v1-icon" @click="props.item.data.clickIcon">
                <i :class="props.item.data.icon"></i>
              </div>
              <div class="template-v1-content">
                <div class="template-v1-title">
                  {{props.item.title}}
                </div>
                <div class="template-v1-text">
                  <span>{{props.item.text}}</span>
                  <a :href="props.item.data.href" class="float-r tc-green" @click="props.item.data.click">
                    {{props.item.data.clickName}}
                  </a>
                </div>
              </div>
              <div class="template-v1-close" @click="props.close">
                <i class="fas fa-times"></i>
              </div>
            </div>
</template>
    </notifications>

    <notifications class="notification-template-v2" group="notification-template-v2" animation-type="velocity" :duration="5000" width="400"  position="top right">
<template slot="body" slot-scope="props">
  <div class="template-v2" :class="props.item.type">
    <div class="template-v2-content">
      <div class="template-v2-title">
        {{props.item.title}}
      </div>
      <div class="template-v2-text">
        <span>{{props.item.text}}</span>
      </div>
    </div>
    <div class="template-v2-close" @click="props.close">
      <i class="fas fa-times"></i>
    </div>
  </div>
</template>
    </notifications>
  </div>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  export default {
    name: "App",
    components: {
      Loading
    },
    data() {
      return {}
    },
    created() {
      this.handleResizeWindow();
      // this.getCurrentLocation();
      this.onRefresh();
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        isLoading: state => state.isLoading,
        layoutName: state => state.layoutName
      })
    },
    methods: {
      ...mapActions({
        handleResizeWindow: "handleResizeWindow",
        startup: "authModule/startup",
        getCurrentUser: "authModule/getCurrentUser",
        getCurrentLocation: "getCurrentLocation"
      }),

      onRefresh() {
        this.startup()
          .then(data => {
            this.getCurrentUser()
              .then(data => {
                if(!data.tutorialSeen) {
                  window.location = "#/tutorial/1";
                  // window.location.reload(true);
                }
              })
              .catch(error => {
                // do nothing
              });;
          })
          .catch(error => {
            // do nothing
          });
      }
    },
    watch: {
      // '$route' (to, from) {
      //   this.onRefresh();
      // }
    }
  };
</script>

<style scoped>
  #app {
    font-family: Montserrat-Regular, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2A2A2A;
    font-size: 1rem;
  }


  /* notification v1 */

  .notification-template-v1 {
    top: 60px !important;
  }

  .template-v1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 13px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    background: #FFF;
    min-height: 50px;
    width: 90%;
    border: 1px solid #487629;
  }

  .template-v1>div {
    box-sizing: border-box;
  }

  .template-v1 .template-v1-icon {
    flex: 0 1 auto;
    color: #487629;
    font-size: 20px;
    padding: 0 10px
  }

  .template-v1 .template-v1-close {
    flex: 0 1 auto;
    padding: 0 20px;
    font-size: 16px;
    opacity: .2;
    cursor: pointer;
    color: #487629;
    opacity: .8;
  }

  .template-v1 .template-v1-close i {
    color: #487629;
  }

  .template-v1 .template-v1-close:hover {
    opacity: .8
  }

  .template-v1 .template-v1-content {
    padding: 10px;
    flex: 1 0 auto
  }

  .template-v1 .template-v1-content .template-v1-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600
  }


  /* end: notification v1 */


  /* notification v2 */

  .notification-template-v2 {
    top: 60px !important;
  }

  .template-v2 {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 13px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    background: #FFF;
    min-height: 50px;
    margin-right: 20px;
    border: 1px solid #487629;
  }

  .template-v2>div {
    box-sizing: border-box;
  }

  .template-v2 .template-v2-icon {
    flex: 0 1 auto;
    color: #487629;
    font-size: 20px;
    padding: 0 10px
  }

  .template-v2 .template-v2-close {
    flex: 0 1 auto;
    padding: 0 20px;
    font-size: 16px;
    opacity: .2;
    cursor: pointer;
    color: #487629;
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: .8;
  }

  .template-v2 .template-v2-close i {
    color: #487629;
  }

  .template-v2 .template-v2-close:hover {
    opacity: .8
  }

  .template-v2 .template-v2-content {
    font-size: .75rem;
    padding: 10px;
    flex: 1 0 auto
  }

  .template-v2 .template-v2-content .template-v2-title {
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 600
  }

  .template-v2.success .template-v2-content .template-v2-title {
    color: #487629;
  }

  .template-v2.error .template-v2-content .template-v2-title {
    color: #940000;
  }

  .template-v2.warn .template-v2-content .template-v2-title {
    color: #FFDD00;
  }


  /* end: notification v2 */

  @media (max-width: 575.98px) {
    #app {
      font-size: .75rem;
    }
    .notification-template-v1 {
      width: 100% !important;
      top: 70px !important;
      left: 20px;
    }
    .notification-template-v2 {
      width: 95% !important;
      top: 70px !important;
      left: 20px;
    }
  }

  @media (min-width: 576px) {
    .notification-template-v1 {
      top: 10px !important;
      right: 10px !important;
    }
    .notification-template-v2 {
      top: 10px !important;
    }
    .template-v1 {
      width: 100%;
    }
  }
</style>
