<template>
  <div>
    account menu desktop
  </div>
</template>

<script>
  export default {
    name: "account-menu-desktop",
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
