<template>
  <section section-account-menu-mobile class="full-size-window">
    <c-header-mobile title="Account" @headerBackEvent="$router.push('/currentProfile')"></c-header-mobile>
    <c-account-menu></c-account-menu>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cAccountMenu from '../../components/c-account-menu/cAccountMenu.vue'

  export default {
    name: "account-menu-mobile",
    components: {
      cHeaderMobile,
      cAccountMenu
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
