<template>
  <section section-account-menu class="full-size-window">
    <account-menu-mobile v-if="isMobileSize"></account-menu-mobile>
    <account-menu-desktop v-else></account-menu-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import AccountMenuMobile from "./AccountMenu.mobile.vue"
  import AccountMenuDesktop from "./AccountMenu.desktop.vue"

  export default {
    name: "account-menu",
    components: {
      AccountMenuMobile,
      AccountMenuDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
