<template>
  <layout name="LayoutMap">
    <c-feed></c-feed>
  </layout>
</template>

<script>
  import cFeed from '../../components/c-feed/cFeed.vue'

  export default {
    name: "current-feed-desktop",
    components: {
      cFeed
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
