<template>
  <section section-current-feed-mobile class="full-size-window">
    <c-header-mobile title="FEED" @headerBackEvent="$router.push('/')"></c-header-mobile>
    <c-feed></c-feed>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cFeed from '../../components/c-feed/cFeed.vue'

  export default {
    name: "current-feed-mobile",
    components: {
      cHeaderMobile,
      cFeed
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
