<template>
  <section section-current-feed class="full-size-window">
    <current-feed-mobile v-if="isMobileSize"></current-feed-mobile>
    <current-feed-desktop v-else></current-feed-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import CurrentFeedMobile from "./CurrentFeed.mobile.vue"
  import CurrentFeedDesktop from "./CurrentFeed.desktop.vue"

  export default {
    name: "current-feed",
    components: {
      CurrentFeedMobile,
      CurrentFeedDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
