<template>
  <layout name="LayoutMap">
    <c-following></c-following>
  </layout>
</template>

<script>
  import cFollowing from '../../components/c-following/cFollowing.vue'

  export default {
    name: "following-desktop",
    components: {
      cFollowing
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
