<template>
  <section section-following-mobile class="full-size-window">
    <c-header-mobile title="Following" @headerBackEvent="$router.push('/accountMenu')"></c-header-mobile>
    <c-following></c-following>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cFollowing from '../../components/c-following/cFollowing.vue'

  export default {
    name: "following-mobile",
    components: {
      cHeaderMobile,
      cFollowing
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
