<template>
  <section section-following class="full-size-window">
    <following-mobile v-if="isMobileSize"></following-mobile>
    <following-desktop v-else></following-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import FollowingMobile from "./Following.mobile.vue"
  import FollowingDesktop from "./Following.desktop.vue"

  export default {
    name: "following",
    components: {
      FollowingMobile,
      FollowingDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
