<template>
  <div class="login-div">
    <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12 t-center">
          <img class="logo" src="../../../static/images/logo@2x.png" alt="urban sketch">
        </div>
        <div class="col-sm-12 t-center">
          <span class="logo-text">URBAN SKETCH</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button
            type="button"
            class="btn btn-primary btn-block login-button"
            @click="openFbLoginDialog"
          >SIGN IN WITH FACEBOOK</button>
        </div>
        <div class="col-sm-12 t-center mt-3">
          <a href="https://urbansketch.org" class="goToWebsite">Need help?</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "c-facebook-login",
  data() {
    return {};
  },
  created() {},
  methods: {
    ...mapActions({
      login: "authModule/login",
      addCurrentUser: "authModule/addCurrentUser",
      deleteCurrentUser: "authModule/deleteCurrentUser",
      startup: "authModule/startup",
      getCurrentUser: "authModule/getCurrentUser"
    }),
    openFbLoginDialog() {
      this.login()
        .then(dataLogin => {
          this.addCurrentUser({
            currentUser: dataLogin
          })
            .then(result => {
              this.startup()
                .then(data => {
                  this.getCurrentUser()
                    .then(data => {
                      if (data.tutorialSeen === 1) {
                        window.location = "#/";
                        // window.location.reload(true);
                      } else {
                        window.location = "#/tutorial/1";
                      }
                    })
                    .catch(error => {
                      // do nothing
                    });
                })
                .catch(error => {
                  this.$Notification.error(
                    "Set Is Logged In",
                    error.message || error
                  );
                });
            })
            .catch(errors => {
              this.$Notification.error("Login", errors.message || errors);
              this.$Notification.warn("Login", "Please login again");
            });
        })
        .catch(error => {
          this.$Notification.error("Login", error.message || error);
          this.$Notification.warn("Login", "Please login again");
        });
    }
  }
};
</script>

<style scoped>
.login-div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../static/images/login-background.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-div {
  display: inline-block;
}

.login-button {
  font-family: Montserrat-Regular, sans-serif;
  width: 300px;
  height: 50px;
  margin: auto;
  border-radius: 0;
  background-color: #ffdd00;
  color: #3c371e;
  border: none;
  -webkit-box-shadow: 0 4px 3px -0px #d6d6d6;
  -moz-box-shadow: 0 4px 3px -0px #d6d6d6;
  box-shadow: 0 4px 3px -0px #d6d6d6;
}

.logo-text {
  font-weight: bold;
}

.goToWebsite {
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .login-div {
    background-image: url("../../../static/images/mobile-login-background.png");
  }
}
</style>
