<template>
  <div class="LayoutMap">
    <c-menu></c-menu>
    <c-search></c-search>
    <main class="LayoutMap__main">
      <slot/>
    </main>
    <c-home-mapbox></c-home-mapbox>
  </div>
</template>

<script>
  import cMenu from "../components/c-menu/cMenu.vue";
  import cSearch from "../components/c-search/cSearch";
  import cHomeMapbox from "../components/c-home-mapbox/cHomeMapbox.vue";
  export default {
    name: `LayoutMap`,
    components: {
      cMenu,
      cSearch,
      cHomeMapbox
    },
    data() {
      return {};
    }
  };
</script>

<style>

</style>
