<template>
  <div class="LayoutDefault">
    <main class="LayoutDefault__main">
      <slot/>
    </main>
  </div>
</template>

<script>
  export default {
    name: `LayoutDefault`,
    data() {
      return {};
    }
  };
</script>

<style>
  .LayoutDefault, .LayoutDefault__main {
    width: 100%;
    height: 100%;
  }
</style>
