<template>
  <section section-account-menu class="account-menu">
    <h5 class="fw-bold">Account</h5>
    <ul class="list-group">
      <!-- <li class="list-group-item" @click="changeRoute('points')">Point</li> -->
      <li class="list-group-item" @click="changeRoute('followers')">View followers</li>
      <li class="list-group-item" @click="changeRoute('following')">View following</li>
      <li class="list-group-item" @click="changeRoute('editCurrentFeed')">Edit feed</li>
      <li class="list-group-item" @click="changeRoute('settings', true)">Settings</li>
      <li class="list-group-item">
        <a @click="logout">Logout</a>
      </li>
    </ul>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-current-profile",
    data() {
      return {
      };
    },
    mounted() {},
    created() {},
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {
      ...mapActions({
        logoutAction: "authModule/logout",
        setLeftSliderName: "setLeftSliderName",
        deleteCurrentUser: "authModule/deleteCurrentUser"
      }),

      logout() {
        this.logoutAction()
          .then(data => {
            this.setLeftSliderName({
              name: ''
            })
            this.deleteCurrentUser();

            this.$Notification.notifyTemplateV1({
              text: 'You have Logged Out',
              data: {
                  icon: 'fas fa-sign-out-alt',
                  clickIcon: () => {},
                  clickName: '',
                  href: '#',
                  click: () => {}
              }
          });
            window.location = "#/";
          })
          .catch(error => {
            this.setLeftSliderName({
              name: ''
            })
            this.deleteCurrentUser();
            window.location = "#/";
          })
      },

      changeRoute(name, state) {
        window.location = `#/${name}`;
        // if (this.isMobileSize) {
        //   window.location = `#/${name}`;
        // } else {
        //   this.setLeftSliderName({name: name})
        // }
      }
    }
  };
</script>

<style scoped>
  .list-group-item {
    position: relative;
    display: block;
    padding: .5rem 0.5rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
    font-weight: 700;
  }

  .account-menu {
    color: #464646;
    height: 100%;
    width: 100%;
    font-size: 14px;
    padding: 15px 0 0 15px;
    background-color: #FFFFFF;
    background-image: url('../../../static/images/watercolor-background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .account-menu li {
    cursor: pointer;
  }

  @media (max-width: 575.98px) {
    .account-menu {
      padding: 80px 0 0 25px;
      font-weight: bold;
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  @media (min-width: 576px) {}
</style>
