<template>
  <section section-upload class="full-size-window">
    <upload-mobile v-if="isMobileSize"
      :tags="tags"
      @postArtwork="postArtwork"
      @addTag="addTag"
    ></upload-mobile>
    <upload-desktop v-else
      :tags="tags"
      @postArtwork="postArtwork"
      @addTag="addTag"
    ></upload-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import UploadMobile from './Upload.mobile.vue'
  import UploadDesktop from './Upload.desktop.vue'

  export default {
    name: "upload",
    components: {
      UploadMobile,
      UploadDesktop
    },
    data() {
      return {
        tags: [],
        pinId: null,
      };
    },
    mounted() {
      this.pinId = this.$route.query.pinId;
    },
    created() {
      this.loadAllTags()
        .then(data => {
          data.forEach(tag => {
            this.tags.push(tag.tag)
          });
        })
        .catch(error => {
          this.$Notification.error('Get all tags', error.message || error);
        })
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        userId: state => state.authModule.id,
        pinSelected: state => state.pinModule.pinSelected,
        elPinSelected: state => state.pinModule.elPinSelected,
      })
    },
    methods: {
      ...mapActions({
        uploadFileAction: "uploadFile",
        addSketch: "sketchModule/addSketch",
        loadAllTags: "tagModule/loadAll",
        addTagAction: "tagModule/addTag",
        getCurrentUser: "authModule/getCurrentUser",
        loadAllPins: "pinModule/loadAll",
        setPins: "pinModule/setPins",
        setPinSelected: "pinModule/setPinSelected"
      }),

      uploadFile(file) {
        return new Promise((resolve, reject) => {
          this.uploadFileAction({
              file: file
            })
            .then(data => {
              this.$Notification.notifyTemplateV1({
                  text: 'Image has been uploaded',
                  data: {
                      icon: 'fas fa-image',
                      clickIcon: () => {},
                      clickName: '',
                      href: '#',
                      click: () => {}
                  }
              });
              return resolve(data);
            })
            .catch(error => {
              this.$Notification.error("Upload", error.message || error);
              this.$Notification.warn('Upload', 'Please try again');
              return reject(error);
            });
        })
      },

      /**
       * dataPostArtwork {file,latitude,longitude,sketchName,tags,pinName}
       */
      postArtwork(dataPostArtwork) {
        this.uploadFile(dataPostArtwork.file)
          .then(urlFileAfterUpload => {
            this.addSketch({
                sketch: {
                  userId: this.userId,
                  url: urlFileAfterUpload,
                  latitude: dataPostArtwork.latitude,
                  longitude: dataPostArtwork.longitude,
                  name: dataPostArtwork.sketchName,
                  pinId: this.pinId,
                  pinName: dataPostArtwork.pinName
                }
              })
              .then(data => {
                var bodayAddTag = {
                  sketchId: data,
                  tags: dataPostArtwork.tags
                };

                this.addTagAction(bodayAddTag)
                  .then(data => {

                    this.loadAllPins()
                      .then(data => {
                        this.setPins({pins: data});
                        this.setPinSelected({
                            pinId: this.pinSelected.id,
                            el: this.elPinSelected
                          })
                          .then(data => {
                            this.$Notification.notifyTemplateV1({
                              text: 'Artwork uploaded',
                              data: {
                                icon: 'fas fa-eye',
                                clickIcon: () => {},
                                clickName: 'VIEW ART',
                                href: `#/sidePanel/${bodayAddTag.sketchId}`,
                                click: () => {},
                              }
                            });
                            this.getCurrentUser();
                            window.location = "#/";
                          })
                          .catch(error => {
                            this.$Notification.warn('Select pin', error.message || error);
                          });
                      });
                  })
                  .catch(error => {
                    this.$Notification.error("Add tags", error.message || error);
                    this.$Notification.warn('Add tags', 'Please try again');
                  })

              })
              .catch(error => {
                this.$Notification.error("Add sketch", error.message || error);
                this.$Notification.warn('Add sketch', 'Please try again');
              });
          })
      },

      addTag(tag) {
        var isExist = this.tags.findIndex(item => item == tag);
        if (isExist === -1) {
          this.tags.push(tag);
        }
      }
    }
  };
</script>

<style scoped>
  .full-size-center {
    min-height: 500px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .full-width {
    width: 100%;
  }

  .upload {
    width: 100%;
    height: 100%;
  }

  .upload .container {
    width: 100%;
    height: 100%;
  }

  .btn-upload {
    border-radius: 0;
    background-color: #f1c800;
    font-weight: bold;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-choose {
    border-radius: 0;
    background-color: #f1c800;
    font-weight: bold;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .btn-menu-close {
    top: 40px;
    position: fixed;
    right: 50px;
    z-index: 9;
  }

  .btn-menu-close-item {
    display: block;
    position: relative;
    transition: all 0.1s ease-out;
    color: #000000;
  }

  .vue-dropzone {
    border: 1px solid #e5e5e5;
  }

  .updateInfo {}

  .updateInfo .title {
    padding-top: 24px;
    font-weight: bold;
    color: #ACACAC;
    font-size: 15px;
  }

  input[type="text"],
  select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }

  input[type="text"]:focus,
  select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #map {
    height: 200px;
    background-color: #5a5a5a;
  }

  .btn-post-artwork {
    width: 50%;
    border-radius: 0;
    background-color: #f1c800;
    border: none;
    color: #000;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.52), 0px 4px 4px -4px rgba(0, 0, 0, 0.65);
  }

  .select-area .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 20em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px solid currentColor;
  }

  .select-area .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 15px;
    min-height: 100%;
    line-height: 2em;
    padding-top: 12em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    background: url(/static/images/drag-and-drop-icon.svg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .select-area .form-control-file:hover:before {}

  #preview {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #preview img {
    max-width: 100%;
    max-height: 300px;
  }
</style>
