<template>
  <nav class="sidebar-wrapper" :class="isMobileSize || nameLeftSlider === 'points' ? 'active' : ''">
    <div class="sidebar-wrapper-header">
    </div>
    <div class="sidebar-wrapper-header2">
      <a class="btn btn-sm btn-back-sidebar" href="#/currentProfile">
        <i class="fas fa-caret-left fs-lg"></i>
      </a>
      <div class="sidebar-wrapper-header2-title">
        <span class="tc-green">Points</span>
      </div>
      <a class="btn btn-sm btn-close-sidebar" href="#/">
        <i class="fas fa-times fs-lg"></i>
      </a>
    </div>
    <div class="card hovercard">
      <div class="info">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row header-title">
                <div class="col-md-12">
                  <div class="header-title-left">
                    <h4 class="mt-4">Content points</h4>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-points",
    data() {
      return {
      };
    },
    mounted() {
      this.onRefresh();
    },
    created() {
      setTimeout(() => {
        this.setLeftSliderName({name: 'points'});
      }, 100);
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        nameLeftSlider: state => state.nameLeftSlider,
        userId: state => state.authModule.id,
      }),
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName",
      }),

      onRefresh() {
      }
    }
  };
</script>

<style scoped>
  .header-title {
    padding-bottom: 2rem;
  }

  .header-title-left {
    float: left;
  }

  .card.hovercard .cardheader {
    background: #fff;
    background-size: cover;
    height: 40px;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  }

  .card.hovercard {
    text-align: left;
  }

  .notification-item {
    padding-bottom: 1rem;
  }

  .notification-item-img {
    margin-right: .5rem;
    width: 50px;
  }

  .sidebar-wrapper .card.hovercard .info {
    padding: 5px 0px 0px 10px;
  }

  .btn-message {
    border-radius: 0;
    background-color: #000dab;
    font-weight: bold;
    border: none;
    color: #FFF !important;

  }

  .btn-follow {
    border-radius: 0;
    background-color: #487629;
    font-weight: bold;
    border: none;
    color: #FFF !important;

  }
  .notification-item-left {
    margin-top: 1rem;
  }

  .notification-item-right {
    margin-top: 1rem;
  }

  @media (max-width: 575.98px) {
    .sidebar-wrapper.active {
      width: 100%;
    }
    .sidebar-wrapper .sidebar-wrapper-header,
    .sidebar-wrapper .sidebar-wrapper-header2 {
      display: none;
    }
    .sidebar-wrapper .card.hovercard {
      padding-top: 60px;
    }
    .info {
      overflow-y: scroll
    }
    .div-edit-profile {
      width: 35%;
      padding-top: 60px;
      padding-right: 5px;
    }
    .div-account {
      width: 35%;
      padding-top: 60px;
      padding-left: 5px;
    }
    .div-avatar {
      width: 30%;
      padding-right: 0px;
      padding-left: 0px;
    }
    .sidebar-wrapper .card.hovercard .avatar img {
      width: 100px;
      height: 100px;
    }
    .sidebar-wrapper .card.hovercard .avatar {
      top: -50px;
      margin-bottom: -50px;
    }
    .btn-edit-profile {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .btn-account {
      color: #464646;
      font-size: 0.80rem;
      font-weight: bold;
    }
    .sidebar-wrapper .card.hovercard .info .title {
      font-size: 0.75rem;
    }
    .profile-name,
    .profile-desc,
    .profile-socicon {
      font-size: 0.75rem;
    }
    .gallery-item {
      width: 50%;
    }
    .btn-delete-sketch i {
      font-size: 1em;
    }
    .div-go-to-points {
      width: 60%;
      font-size: .75rem;
    }
    .div-go-to-edit-feed {
      width: 40%;
      font-size: .75rem;
    }
    .header-title h4 {
      font-size: 1rem;
    }
    .header-title span {
      font-size: .75rem;
    }
    .notification-item-left {
      width: 55%;
    }
    .notification-item-right {
      width: 45%;
      font-size: .5rem;
      margin-top: 0;
    }
    .btn-message {
      margin-bottom: .25rem;
    }
  }

  @media (min-width: 576px) {
    .info {
      width: 100%;
      height: calc(100% - 125px);
      overflow-y: scroll
    }
    .info::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }
    .info::-webkit-scrollbar-thumb {
      background-color: #707070;
      border: 2px solid #999999;
    }
  }
</style>
