<template>
  <section section-current-profile-mobile>
    <c-header-mobile title="My Profile" @headerBackEvent="$router.push('/')"></c-header-mobile>
    <c-current-profile></c-current-profile>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cCurrentProfile from '../../components/c-current-profile/cCurrentProfile.vue'

  export default {
    name: "current-profile-mobile",
    components: {
      cHeaderMobile,
      cCurrentProfile
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
