<template>
  <section>
    <current-profile-mobile v-if="isMobileSize"></current-profile-mobile>
    <current-profile-desktop v-else></current-profile-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import CurrentProfileMobile from "./CurrentProfile.mobile.vue"
  import CurrentProfileDesktop from "./CurrentProfile.desktop.vue"

  export default {
    name: "current-profile",
    components: {
      CurrentProfileMobile,
      CurrentProfileDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
