<template>
  <layout name="LayoutMap">
    <c-current-profile></c-current-profile>
  </layout>
</template>

<script>
  import cCurrentProfile from '../../components/c-current-profile/cCurrentProfile.vue'

  export default {
    name: "current-profile-desktop",
    components: {
      cCurrentProfile
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
