<template>
  <nav class="btn-menu" :class="nameLeftSlider === 'imageCollection' ? 'active': ''">
    <template v-if="isLoggedIn">
      <div class="line line-red" :class="!isMobileSize || isActive ? 'active' : ''"></div>
      <div class="line line-blue" :class="!isMobileSize || isActive ? 'active' : ''"></div>
      <div class="line line-green" :class="!isMobileSize || isActive ? 'active' : ''"></div>
      <a class="btn-menu-item btn-menu-normal btn-profile" :class="isActive ? 'active' : ''" tooltip="Profile" @click="goToCurrentProfile">
      </a>
      <a class="btn-menu-item btn-menu-normal btn-eye" :class="isActive ? 'active' : ''" tooltip="Feed" @click="goToCurrentFeed">
      </a>
      <a href="#/upload" class="btn-menu-item btn-menu-normal btn-upload" :class="isActive ? 'active' : ''" tooltip="Upload">
      </a>
      <a class="btn-menu-item btn-menu-main" :class="isActive ? 'active' : ''" @click="isActive = !isActive">
      </a>
    </template>
    <template v-else>
      <a href="#/login" class="btn-menu-item btn-menu-normal btn-login" tooltip="Login">
      </a>
    </template>
  </nav>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";

  export default {
    name: "c-menu",
    data() {
      return {
        isActive: false
      };
    },
    created() {},
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize,
        isLoggedIn: state => state.authModule.isLoggedIn,
        nameLeftSlider: state => state.nameLeftSlider
      })
    },
    methods: {
      ...mapActions({
        setLeftSliderName: "setLeftSliderName"
      }),

      goToCurrentProfile() {
        window.location = "#/currentProfile";
        // if (this.isMobileSize) {
        //   window.location = "#/currentProfile";
        // } else {
        //   this.setLeftSliderName({name: 'currentProfile'})
        // }
      },

      goToCurrentFeed() {
        window.location = "#/currentFeed";
        // if (this.isMobileSize) {
        //   window.location = "#/currentFeed";
        // } else {
        //   this.setLeftSliderName({name: 'feed'})
        // }
      }
    }
  };
</script>

<style scoped>
  .btn-menu {
    bottom: 0;
    position: fixed;
    margin: 1rem 1rem 1rem 1rem;
    right: 0px;
    z-index: 9;
    transition: all 0.4s ease 0s;
  }

  .btn-menu-item {
    text-align: center;
    /* border-radius: 50%; */
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 0;
    position: relative;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    color: #000000;
  }

  .btn-profile {
    background-image: url("../../../static/images/profile.svg");
    background-repeat: no-repeat;
  }

  .btn-eye {
    background-image: url("../../../static/images/eye.svg");
    background-repeat: no-repeat;
  }

  .btn-upload {
    background-image: url("../../../static/images/upload.svg");
    background-repeat: no-repeat;
  }

  .btn-menu-main {
    display: none;
    background-image: url("../../../static/images/expand-button.svg");
    background-repeat: no-repeat;
  }

  .btn-menu-main.active {
    transform: rotate(45deg);
  }

  .btn-login {
    background-image: url("../../../static/images/btn-login.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }

  /* Show tooltip content on hover */
  .btn-menu-item.btn-menu-normal[tooltip]:before {
    bottom: 25%;
    font-family: arial;
    font-weight: 600;
    border-radius: 2px;
    color: #464646;
    content: attr(tooltip);
    font-size: 12px;
    padding: 5px 7px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
    visibility: visible;
  }

  .line {
    opacity: 0;
    transform: translateY(50px);
  }

  .line.active {
    opacity: 1;
    transform: none;
  }

  .line-red {
    width: 5px;
    height: 35px;
    background-color: #C10230;
    position: absolute;
    top: 20px;
    left: 17px;
  }

  .line-blue {
    width: 5px;
    height: 35px;
    background-color: #000F9F;
    position: absolute;
    top: 60px;
    left: 17px;
  }

  @media (max-width: 575.98px) {
    .btn-menu-main {
      display: block;
    }
    .btn-menu-item.btn-menu-normal {
      width: 35px;
      height: 35px;
      margin: 0 auto 0;
      opacity: 0;
      -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
      transform: translateY(50px);
    }

    .btn-menu-item {
      width: 35px;
      height: 35px;
    }

    .btn-menu-item.btn-menu-normal.active {
      opacity: 1;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      margin: 0 auto 0;
    }

    .btn-menu-item.btn-menu-normal.btn-login {
      opacity: 1;
      transform: none;
    }

    /* Show tooltip content on hover */
    .btn-menu-item.btn-menu-normal.active[tooltip]:before {
      animation: hiddenAnimation 0s 2s forwards;
    }

    @keyframes hiddenAnimation {
      to   { visibility: hidden; }
    }

    .btn-menu {
      margin: 1rem 1rem 2rem 1rem;
    }

    .btn-menu.active {
      bottom: 180px;
      transition: all 0.4s ease 0s;
    }

    .line-red {
      width: 5px;
      height: 35px;
      background-color: #C10230;
      position: absolute;
      top: 20px;
      left: 15px;
    }

    .line-blue {
      width: 5px;
      height: 35px;
      background-color: #000F9F;
      position: absolute;
      top: 55px;
      left: 15px;
    }

    .line-green {
      width: 5px;
      height: 35px;
      background-color: #487629;
      position: absolute;
      top: 90px;
      left: 15px;
    }

    .btn-menu-item.btn-menu-normal.btn-login:before {
      padding: 3px 7px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {}

  @media (min-width: 768px) and (max-width: 991.98px) {}

  @media (min-width: 992px) and (max-width: 1199.98px) {}

  @media (min-width: 1200px) {}
</style>
