<template>
  <layout name="LayoutMap">
    <c-privacy></c-privacy>
  </layout>
</template>

<script>
  import cPrivacy from '../../components/c-privacy/cPrivacy.vue'

  export default {
    name: "privacy-desktop",
    components: {
      cPrivacy
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
