<template>
  <section section-privacy-mobile class="full-size-window">
    <c-header-mobile title="Privacy" @headerBackEvent="$router.push('/accountMenu')"></c-header-mobile>
    <c-privacy></c-privacy>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cPrivacy from '../../components/c-privacy/cPrivacy.vue'

  export default {
    name: "privacy-mobile",
    components: {
      cHeaderMobile,
      cPrivacy
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
