<template>
  <section section-privacy class="full-size-window">
    <privacy-mobile v-if="isMobileSize"></privacy-mobile>
    <privacy-desktop v-else></privacy-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import PrivacyMobile from "./Privacy.mobile.vue"
  import PrivacyDesktop from "./Privacy.desktop.vue"

  export default {
    name: "privacy",
    components: {
      PrivacyMobile,
      PrivacyDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
