<template>
  <section section-about class="full-size-window">
    <about-mobile v-if="isMobileSize"></about-mobile>
    <about-desktop v-else></about-desktop>
  </section>
</template>

<script>
  import {
    mapState,
    mapActions
  } from "vuex";
  import AboutMobile from "./About.mobile.vue"
  import AboutDesktop from "./About.desktop.vue"

  export default {
    name: "about",
    components: {
      AboutMobile,
      AboutDesktop
    },
    data() {
      return {};
    },
    created() {
    },
    computed: {
      ...mapState({
        isMobileSize: state => state.isMobileSize
      })
    },
    methods: {}
  };
</script>

<style scoped>

</style>
