<template>
  <layout name="LayoutMap">
    <c-about></c-about>
  </layout>
</template>

<script>
  import cAbout from '../../components/c-about/cAbout.vue'

  export default {
    name: "about-desktop",
    components: {
      cAbout
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
