<template>
  <section section-about-mobile class="full-size-window">
    <c-header-mobile title="About" @headerBackEvent="$router.push('/settings')"></c-header-mobile>
    <c-about></c-about>
  </section>
</template>

<script>
  import cHeaderMobile from "../../components/c-header/cHeader.mobile.vue";
  import cAbout from '../../components/c-about/cAbout.vue'

  export default {
    name: "about-mobile",
    components: {
      cHeaderMobile,
      cAbout
    },
    data() {
      return {
      };
    },
    created() {
    },
    computed: {
    },
    methods: {
    }
  };
</script>

<style scoped>

</style>
